<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
    <title>中国食讯-以美食为核心的平台</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" href="{DT_SKIN}images/public/favicon.ico" mce_href="favicon.ico" type=image/x-icon”>
    <link rel="shortcut icon" href="{DT_SKIN}images/public/favicon.ico" mce_href="favicon.ico" type=image/x-icon”>
    <link rel="stylesheet" href="{DT_SKIN}css/global.css"/>
    <link rel="stylesheet" href="{DT_SKIN}css/index.css"/>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<a href=""><img class="home" src="{DT_SKIN}images/public/top-ad.jpg" width="1100" height="50" style="display: block;" alt=""/></a>
<!--头部信息-->
<section class="home clearfix mtb30">
    <figure class="logo fl"></figure>
    <form class="search fl" action="">
        <input class="fl" type="text" placeholder="请您输入搜索信息:">
        <input class="fl" type="submit" id="searchBtn"/>
    </form>
    <!--切换城市-->
    <div class="city fl">
        <label>广州</label>
        <span>切换城市</span>
    </div>
    <!--切换城市end-->
    <aside class="login-wrap fr">
        <ul>
            <li><a href=""><i class="icon icon-contact"></i>联系我们</a></li>
            <li><a href=""><i class="icon icon-collect"></i>免费注册</a></li>
            <li><a href=""><i class="icon icon-publish"></i>我要发布</a></li>
        </ul>
    </aside>
</section>

<nav>
    <ul class="home clearfix">
        <li class="selected"><a href="">首页</a></li>
        <li><a href="">餐饮供应</a></li>
        <li><a href="">商家优惠</a></li>
        <li><a href="">招聘信息</a></li>
        <li><a href="">店铺转让</a></li>
        <li><a href="">名厨学堂</a></li>
        <li><a href="">羊角会</a></li>
        <li><a href="">分享</a></li>
        <li><a href="">登录</a></li>
    </ul>
</nav>

<section class="home clearfix mt20">
    <aside class="side-menu fl">
        <article class="border-box">
            <!--子菜单-->
            <header class="menu-group-title">
                <i class="icon-item icon-item1"></i>
                <a href="" target="_blank">餐饮供应信息</a>
            </header>
            <ul class="menu-items">
                <li><a href="" target="_blank">禽类</a></li>
                <li><a href="" target="_blank">冻品</a></li>
                <li><a href="" target="_blank">蔬菜</a></li>
                <li><a href="" target="_blank">水产</a></li>
                <li><a href="" target="_blank">干货</a></li>
                <li><a href="" target="_blank">杂粮</a></li>
                <li><a href="" target="_blank">调料</a></li>
                <li><a href="" target="_blank">饮品</a></li>
                <li><a href="" target="_blank">野味</a></li>
                <li><a href="" target="_blank">茶叶</a></li>
                <li><a href="" target="_blank">菌类 </a></li>
                <li><a href="" target="_blank">厨具</a></li>
                <li><a href="" target="_blank">餐具</a></li>
                <li><a href="" target="_blank">广告</a></li>
                <li><a href="" target="_blank">印刷</a></li>
                <li><a href="" target="_blank">装修</a></li>
                <li><a href="" target="_blank">菜谱</a></li>
                <li><a href="" target="_blank">设备</a></li>
                <li><a href="" target="_blank">合作</a></li>
                <li><a href="" target="_blank">其它 </a></li>
            </ul>
            <i class="cut-line"></i>
            <!--子菜单end-->
            <header class="menu-group-title">
                <i class="icon-item icon-item2"></i>
                <a href="" target="_blank">餐饮行业信息</a>
            </header>
            <ul class="menu-items menu-items-info">
                <li><a href="" target="_blank">店铺转让</a></li>
                <li><a href="" target="_blank">求租店铺</a></li>
                <li><a href="" target="_blank">餐饮招聘</a></li>
                <li><a href="" target="_blank">求职信息</a></li>
                <li><a href="" target="_blank">连锁加盟</a></li>
                <li><a href="" target="_blank">经营合作</a></li>
            </ul>
            <i class="cut-line"></i>
            <a class="publish-info" href=""><i class="icon-publish"></i>发布信息>></a>
        </article>

    </aside>
    <article class="ad fl">
        <ul>
            <li><a href=""><img width="283" height="175" src="{DT_SKIN}images/index/a1.jpg" alt=""/><h2>饮食</h2></a></li>
            <li><a href=""><img width="278" height="132" src="{DT_SKIN}images/index/a2.jpg" alt=""/><h2>饮食</h2></a></li>
            <li><a href=""><img width="283" height="175" src="{DT_SKIN}images/index/a3.jpg" alt=""/><h2>饮食</h2></a></li>
            <li><a href=""><img width="283" height="87" src="{DT_SKIN}images/index/a4.jpg" alt=""/><h2>饮食</h2></a></li>
            <li style="margin-top: -45px;"><a href=""><img width="278" height="132" src="{DT_SKIN}images/index/a5.jpg" alt=""/><h2>饮食</h2></a></li>
            <li><a href=""><img width="283" height="87" src="{DT_SKIN}images/index/a6.jpg" alt=""/><h2>饮食</h2></a></li>
            <li><a href=""><img width="427" height="124" src="{DT_SKIN}images/index/a7.jpg" alt=""/><h2>饮食</h2></a></li>
            <li><a href=""><img width="208" height="124" src="{DT_SKIN}images/index/a8.jpg" alt=""/><h2>饮食</h2></a></li>
            <li><a href=""><img width="208" height="124" src="{DT_SKIN}images/index/a9.jpg" alt=""/><h2>饮食</h2></a></li>
        </ul>
    </article>
</section>
<a href=""><img class="home mt10" src="{DT_SKIN}images/index/ad2.jpg" width="1100" height="140" style="display: block;" alt=""/></a>

<!--今日热门-->
<section class="home clearfix mt20">
    <aside class="new-box fl border-box">
        <a href="" target="_blank" title="">
            <img src="{DT_SKIN}images/index/food3.png" height="280" width="298" alt="">
            <h2>从化民政局原局长民政局</h2>
            <p>A股仍存再寻市场底可能精选个股成策略首选多空双方对于4000点的...<strong>详情>></strong></p>
        </a>
    </aside>

    <article class="new-wrap fl">
        <section class="new-wrap-main fl">
            <header class="public-header">
                <h2 class="fl">今日热门</h2>
                <span class="fl">| 美食岂能错过！</span>
                <a class="fr more" href="" target="_blank">更多<i class="icon-more"></i></a>
            </header>
            <section class="new-head">
                <h2>宝宝吃什么好呢？</h2>
                <p>2015广州（从化）国际美美啦本届打造啦本届打造啦美本届打造2015广州（从化）国际美美 啦本届打造啦本届打造啦美本届打造......<a href="">查看详情>></a></p>
            </section>
            <section class="new-list">
                <ul class="fl">
                    <li><span>·</span><a href="" target="_blank" title="">饮食调理女性压</a></li>
                    <li><span>·</span><a href="" target="_blank" title="">生鱼片一定要冷</a></li>
                    <li><span>·</span><a href="" target="_blank" title="">饮食调理女性压</a></li>
                </ul>
                <ul class="fl">
                    <li><span>·</span><a href="" target="_blank" title="">饮食调理女性压</a></li>
                    <li><span>·</span><a href="" target="_blank" title="">生鱼片一定要冷</a></li>
                    <li><span>·</span><a href="" target="_blank" title="">饮食调理女性压</a></li>
                </ul>
                <ul class="fl">
                    <li><span>·</span><a href="" target="_blank" title="">饮食调理女性压</a></li>
                    <li><span>·</span><a href="" target="_blank" title="">生鱼片一定要冷</a></li>
                    <li><span>·</span><a href="" target="_blank" title="">饮食调理女性压</a></li>
                </ul>
                <ul class="fl">
                    <li><span>·</span><a href="" target="_blank" title="">饮食调理女性压</a></li>
                    <li><span>·</span><a href="" target="_blank" title="">生鱼片一定要冷</a></li>
                    <li><span>·</span><a href="" target="_blank" title="">饮食调理女性压</a></li>
                </ul>
            </section>
            <header class="public-header new-header clearfix">
                <h2 class="fl">冬季饮食推荐</h2>
                <a class="fr more" href="" target="_blank">更多<i class="icon-more"></i></a>
            </header>
            <section class="new-show border-box">
                <ul>
                    <li>
                        <a href="">
                            <img width="110" height="84" src="{DT_SKIN}images/index/food2.png" alt=""/>
                            <h3>芝麻豆腐储粮补</h3>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img width="110" height="84" src="{DT_SKIN}images/index/food2.png" alt=""/>
                            <h3>芝麻豆腐储粮补</h3>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img width="110" height="84" src="{DT_SKIN}images/index/food2.png" alt=""/>
                            <h3>芝麻豆腐储粮补</h3>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img width="110" height="84" src="{DT_SKIN}images/index/food2.png" alt=""/>
                            <h3>芝麻豆腐储粮补</h3>
                        </a>
                    </li>

                </ul>
            </section>
        </section>

        <aside class="new-wrap-list fr">
            <header class="public-header new-header clearfix">
                <h2 class="fl">冬季饮食推荐</h2>
                <a class="fr more" href="" target="_blank">更多<i class="icon-more"></i></a>
            </header>

            <ul class="new-part">
                <li>
                    <a href="" target="_blank"><img src="{DT_SKIN}images/index/food2.png" height="84" width="110" alt="" >
                        <h3>寒冬早</h3>
                        <p>2015广州（从化）国际美美 啦本届打造啦本届打造啦美 本届打造.....<strong>详情>></strong></p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank"><img src="{DT_SKIN}images/index/food2.png" height="84" width="110" alt="" >
                        <h3>寒冬早</h3>
                        <p>2015广州（从化）国际美美 啦本届打造啦本届打造啦美 本届打造.....<strong>详情>></strong></p>
                    </a>
                </li>
            </ul>
            <section class="new-list new-list-box">
                <ul class="fl">
                    <li><span>·</span><a href="" target="_blank" title="">饮食调理女性压</a></li>
                    <li><span>·</span><a href="" target="_blank" title="">生鱼片一定要冷</a></li>
                </ul>
                <ul class="fl">
                    <li><span>·</span><a href="" target="_blank" title="">生鱼片一定要冷生鱼</a></li>
                    <li><span>·</span><a href="" target="_blank" title="">饮食调理女性压力大</a></li>
                </ul>
            </section>
            <i class="cutline"></i>
            <section class="new-list new-list-box">
                <ul class="fl">
                    <li><span>·</span><a href="" target="_blank" title="">饮食调理女性压</a></li>
                    <li><span>·</span><a href="" target="_blank" title="">生鱼片一定要冷</a></li>
                </ul>
                <ul class="fl">
                    <li><span>·</span><a href="" target="_blank" title="">生鱼片一定要冷生鱼</a></li>
                    <li><span>·</span><a href="" target="_blank" title="">饮食调理女性压力大</a></li>
                </ul>
            </section>
            <i class="cutline"></i>
        </aside>
    </article>
</section>
<!--今日热门end-->
<a href=""><img class="home mt20" src="{DT_SKIN}images/index/ad2.jpg" width="1100" height="140" style="display: block;" alt=""/></a>
<!--名厨展示-->
<section class="home clearfix mt20">
    <article class="show-box fl border-box">
        <header class="public-header show-head">
            <i class="icon-show"></i>
            <h2 class="fl">名厨作品展示</h2>
            <a class="fr more" href="" target="_blank">更多<i class="icon-more"></i></a>
        </header>
        <ul>
            <li><img src="{DT_SKIN}images/index/person.png" width="182" height="136" alt=""/><h4>作者：吴价没</h4></li>
            <li>
                <img src="{DT_SKIN}images/index/food.png" width="182" height="136" alt=""/>
                <h3>意大利牛排</h3>
                <header>
                    <button>投票</button>
                    <i>票数：3436476</i>
                </header>
            </li>
            <li><img src="{DT_SKIN}images/index/person.png" width="182" height="136" alt=""/><h4>作者：吴价没</h4></li>
            <li>
                <img src="{DT_SKIN}images/index/food.png" width="182" height="136" alt=""/>
                <h3>意大利牛排</h3>
                <header>
                    <button>投票</button>
                    <i>票数：3436476</i>
                </header>
            </li>
            <li><img src="{DT_SKIN}images/index/person.png" width="182" height="136" alt=""/><h4>作者：吴价没</h4></li>
            <li>
                <img src="{DT_SKIN}images/index/food.png" width="182" height="136" alt=""/>
                <h3>意大利牛排</h3>
                <header>
                    <button>投票</button>
                    <i>票数：3436476</i>
                </header>
            </li>
            <li><img src="{DT_SKIN}images/index/person.png" width="182" height="136" alt=""/><h4>作者：吴价没</h4></li>
            <li>
                <img src="{DT_SKIN}images/index/food.png" width="182" height="136" alt=""/>
                <h3>意大利牛排</h3>
                <header>
                    <button>投票</button>
                    <i>票数：3436476</i>
                </header>
            </li>
        </ul>
    </article>

    <aside class="show-list fr border-box">
        <header class="public-header show-head">
            <i class="icon-price"></i>
            <h2 class="fl">商家优惠</h2>
            <a class="fr more" href="" target="_blank">发布优惠<i class="icon-more"></i></a>
        </header>
        <article class="new-main">
            <a href=""><h3>从化美食节开幕啦不一样！</h3></a>
            <p>2015广州（从化）国际美食节,将于今日在美时啦....</p>
            <i class="cutline"></i>
            <ul class="point-list">
                <li><span class="ico"></span><a href="" target="_blank" title="">罗辑思维是一家</a><span class="fr">2016/01/18</span></li>
                <li><span class="ico"></span><a href="" target="_blank" title="">运营人员在创业公</a><span class="fr">2016/01/18</span></li>
                <li><span class="ico"></span><a href="" target="_blank" title="">蘑菇街美丽说合并却</a><span class="fr">2016/01/18</span></li>
                <li><span class="ico"></span><a href="" target="_blank" title="">如何走出落地之困</a><span class="fr">2016/01/18</span></li>
                <li><span class="ico"></span><a href="" target="_blank" title="">88年小鲜肉财务自由</a><span class="fr">2016/01/18</span></li>
                <li><span class="ico"></span><a href="" target="_blank" title="">88年小鲜肉财务自由</a><span class="fr">2016/01/18</span></li>
                <li><span class="ico"></span><a href="" target="_blank" title="">88年小鲜肉财务自由</a><span class="fr">2016/01/18</span></li>
                <li><span class="ico"></span><a href="" target="_blank" title="">88年小鲜肉财务自由</a><span class="fr">2016/01/18</span></li>
                <li><span class="ico"></span><a href="" target="_blank" title="">88年小鲜肉财务自由</a><span class="fr">2016/01/18</span></li>
                <li><span class="ico"></span><a href="" target="_blank" title="">88年小鲜肉财务自由</a><span class="fr">2016/01/18</span></li>
            </ul>
        </article>

    </aside>
</section>
<!--名厨展示end-->
<a href=""><img class="home mt20" src="{DT_SKIN}images/index/ad2.jpg" width="1100" height="140" style="display: block;" alt=""/></a>
<!--在线分享-->
<section class="home mt20 clearfix border-box">
    <header class="public-header show-head">
        <i class="icon-share"></i>
        <h2 class="fl" style="color:#9f8e00">在线分享</h2>
        <div class="share-head fr">
            <a href="">美食</a>
            <a href="">旅游</a>
            <a href="">休闲</a>
            <a href="">美容</a>
            <a href="">美发</a>
            <a href="">娱乐</a>
            <a href="">健康</a>
            <a href="">其它</a>
        </div>
    </header>

    <aside class="share-box fl">
        <a href="" target="_blank" title="">
            <img src="{DT_SKIN}images/index/new.png" width="384" height="288" alt="">
            <h2>从化民政局原局长民政局</h2>
            <p>A股仍存再寻市场底可能精选个股成策略首选多空双方对于4000点的...</p>
        </a>
        <div class="share-item">
            <a class="fl">作者：小米在嘛</a>
            <a class="fr"><i class="icon-share1"></i>分享10888人阅读</a>
        </div>
    </aside>

    <article class="share-show fr">
        <ul>
            <li>
                <a href="">
                    <img src="{DT_SKIN}images/index/share1.png" width="180" height="136" alt=""/>
                    <h4>广来一场说走就走的旅行，在...</h4>
                    <div class="share-item">
                        <a class="fl"><i class="icon-share1"></i>分享</a>
                        <a class="fr">10888人阅读</a>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{DT_SKIN}images/index/share1.png" width="180" height="136" alt=""/>
                    <h4>广来一场说走就走的旅行，在...</h4>
                    <div class="share-item">
                        <a class="fl"><i class="icon-share1"></i>分享</a>
                        <a class="fr">10888人阅读</a>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{DT_SKIN}images/index/share1.png" width="180" height="136" alt=""/>
                    <h4>广来一场说走就走的旅行，在...</h4>
                    <div class="share-item">
                        <a class="fl"><i class="icon-share1"></i>分享</a>
                        <a class="fr">10888人阅读</a>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{DT_SKIN}images/index/share1.png" width="180" height="136" alt=""/>
                    <h4>广来一场说走就走的旅行，在...</h4>
                    <div class="share-item">
                        <a class="fl"><i class="icon-share1"></i>分享</a>
                        <a class="fr">10888人阅读</a>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{DT_SKIN}images/index/share1.png" width="180" height="136" alt=""/>
                    <h4>广来一场说走就走的旅行，在...</h4>
                    <div class="share-item">
                        <a class="fl"><i class="icon-share1"></i>分享</a>
                        <a class="fr">10888人阅读</a>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{DT_SKIN}images/index/share1.png" width="180" height="136" alt=""/>
                    <h4>广来一场说走就走的旅行，在...</h4>
                    <div class="share-item">
                        <a class="fl"><i class="icon-share1"></i>分享</a>
                        <a class="fr">10888人阅读</a>
                    </div>
                </a>
            </li>
        </ul>
    </article>
</section>
<!--在线分享end-->

<!--作者-->
<section class="home clearfix mt20">
    <article class="person-show fl">
        <ul>
            <li>
                <a href="">
                    <img src="{DT_SKIN}images/index/share1.png" width="78" height="78" alt=""/>
                    <h4>作者：龙潭虎穴</h4>
                    <p>人气榜：256586</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{DT_SKIN}images/index/share1.png" width="78" height="78" alt=""/>
                    <h4>作者：龙潭虎穴</h4>
                    <p>人气榜：256586</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{DT_SKIN}images/index/share1.png" width="78" height="78" alt=""/>
                    <h4>作者：龙潭虎穴</h4>
                    <p>人气榜：256586</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{DT_SKIN}images/index/share1.png" width="78" height="78" alt=""/>
                    <h4>作者：龙潭虎穴</h4>
                    <p>人气榜：256586</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{DT_SKIN}images/index/share1.png" width="78" height="78" alt=""/>
                    <h4>作者：龙潭虎穴</h4>
                    <p>人气榜：256586</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{DT_SKIN}images/index/share1.png" width="78" height="78" alt=""/>
                    <h4>作者：龙潭虎穴</h4>
                    <p>人气榜：256586</p>
                </a>
            </li>
        </ul>
    </article>

    <aside class="qr-show fr border-box">
        <ul>
            <li>
                <img src="{DT_SKIN}images/index/icon-qr.png" width="100" height="100" alt=""/>
                <h4>扫二微码关注微信</h4>
            </li>
            <li>
                <img src="{DT_SKIN}images/index/icon-qr.png" width="100" height="100" alt=""/>
                <h4>扫二微码保存手机</h4>
            </li>
        </ul>
    </aside>
</section>
<!--作者end-->
<a href=""><img class="home mt20" src="{DT_SKIN}images/index/ad3.jpg" width="1100" height="101" style="display: block;" alt=""/></a>
<footer>
    <h2>中国食讯&nbsp;&nbsp;&nbsp;&nbsp;www.zgsxv.com</h2>
    <section class="about-us">
        <a href="" target="_blank">关于我们</a><span>|</span>
        <a href="" target="_blank">联系我们</a><span>|</span>
        <a href="" target="_blank">商务合作</a><span>|</span>
        <a href="" target="_blank">发布信息</a><span>|</span>
        <a href="" target="_blank">手机版本</a>
    </section>
</footer>
<section class="friendLink">
    <a href="" target="_blank" rel="nofollow">美食家</a>
    <a href="" target="_blank" rel="nofollow">hao123菜谱</a>
    <a href="" target="_blank" rel="nofollow">糖酒快讯</a>
    <a href="" target="_blank" rel="nofollow">应用汇</a>
    <a href="" target="_blank" rel="nofollow">中华美食</a>
    <a href="" target="_blank" rel="nofollow">美食杰</a>
    <a href="" target="_blank" rel="nofollow">POCO美食网</a>
    <a href="" target="_blank" rel="nofollow">红餐微杂志</a>
    <a href="" target="_blank" rel="nofollow">百年餐饮网</a>
    <a href="" target="_blank" rel="nofollow">三九养生堂饭菜网</a>
    <a href="" target="_blank" rel="nofollow">装修网</a>
    <a href="" target="_blank" rel="nofollow">波奇网</a>
    <a href="" target="_blank" rel="nofollow">糖豆网</a>
</section>
</body>
</html>

