{php $nav_selected = 'question';$seo_title = '常见问题-'; require_once 'module/extend/ad.class.php'; $oAd = new ad; $oAd->aid = 55;  $aAd = $oAd->get_one(); }
{php if($aAd){ $oAd->pid = $aAd['pid'];$pAd = $oAd->get_one_place(); }else{$pAd['height'] = 0; }}
{template  'header'}
<section class="group" style="background-color:#fff;position:relative;">
    <div  id="module1" class="g banner" style=" background: url({if $aAd}{$aAd['image_src']}{/if}) no-repeat center top;height:{$pAd['height']}px;"></div>
</section>
<section>
    <article class="container">
        <div class="questioncontain">
            {$content}
        </div>
        <div class="questioncontain1">
            <div class="questiontitle">
                <span>合作伙伴</span>
            </div>
            <div class="fenthlist">
                {template  'link'}
            </div>
        </div>
    </article>
</section>
{template  'footer'}