{php $nav_selected = 'question';$seo_title = '常见问题-';}
{template  'header'}
<section class="group" style="background-color:#fff;position:relative;">
    <div  id="module1" class="g banner" style=" background: url({DT_SKIN_TWO}images/wycms/question.jpg) no-repeat center top;height:399px;"></div>
</section>
<section>
    <article class="container">
        <div class="questioncontain">
            {$content}
        </div>
        <div class="questioncontain1">
            <div class="questiontitle">
                <span>合作伙伴</span>
            </div>
            <div class="fenthlist">
                {template  'link'}
            </div>
        </div>
    </article>
</section>
{template  'footer'}