<article id="areaselect"  class="clear">
    <span onclick="location.href='/mobile/area.php'">
        {if isset($areainfo) && $areainfo}{$areainfo['areaname']}{else}选择城市{/if}
        <img src="{DT_SKIN}image/smallsanjiao.png" style="position:absolute;bottom:3px;right:3px;" />
    </span>
    {if isset($moduleidcat)}
    <?php $dfaurl = isset($kw)?'&kw='.$kw:''; $dfaurl = '?areaid='.$areaid.$dfaurl; ?>
    <span onclick="showcat({$moduleidcat},1,'{$dfaurl}')">{if $catinfo}{$catinfo['catname']}{else}分类筛选{/if}<img src="{DT_SKIN}image/smallsanjiao.png" style="position:absolute;bottom:3px;right:3px;" /></span>
    {/if}
    {if !isset($isresume)}
        {if isset($moduleidtype)}
        <span><a href="/mobile/share/publish.php?moduleidtype={$moduleidtype}">发布{if $moduleidtype==4}菜式{/if}</a></span>
        {/if}
    {else}
    <span><a href="/mobile/member/resume.php">发布</a></span>
    {/if}


</article>
