{template 'header','mobile'}
{template 'search','mobile'}
<style>
    .channelheader img {margin-top:5px;}
</style>
<section class="contentlist">
    <header class="channelheader clear" style="background-color:#f5f5f5;">
        <div class="fl"><img src="{DT_SKIN}image/mobile/gmodule1.png"><span >餐饮供应</span></div>
    </header>
</section>
<section>
    <article id="categoryselect">
        <table>
            {if $aCatList23}
            {loop $aCatList23 $key $val}
            <tr>
                {loop $val $k $v}
                <td><a href="/mobile/food/index.php?catid={$v['catid']}">{$v['catname']}</a></td>
                {/loop}
            </tr>
            {/loop}
            {/if}
        </table>
    </article>
</section>
<section class="contentlist">
    <header class="channelheader clear" style="background-color:#f5f5f5;">
        <div class="fl"><img src="{DT_SKIN}image/mobile/gmodule2.png"><span>餐饮优惠</span></div>
    </header>
</section>
<section>
    <article id="categoryselect">
        <table>
            {if $aCatList13}
            {loop $aCatList13 $key $val}
            <tr>
                {loop $val $k $v}
                <td><a href="/mobile/school/food.php?catid={$v['catid']}">{$v['catname']}</a></td>
                {/loop}
            </tr>
            {/loop}
            {/if}
        </table>
    </article>
</section>
<section class="contentlist">
    <header class="channelheader clear" style="background-color:#f5f5f5;">
        <div class="fl"><img src="{DT_SKIN}image/mobile/gmodule3.png"><span style="">餐饮招聘</span></div>
    </header>
</section>
<section>
    <article id="categoryselect">
        <table>
            {if $aCatList9}
            {loop $aCatList9 $key $val}
            <tr>
                {loop $val $k $v}
                <td><a href="/mobile/job/index.php?catid={$v['catid']}">{$v['catname']}</a></td>
                {/loop}
            </tr>
            {/loop}
            {/if}
        </table>
    </article>
</section>
<section class="contentlist">
    <header class="channelheader clear" style="background-color:#f5f5f5;">
        <div class="fl"><img src="{DT_SKIN}image/mobile/gmodule4.png"><span style="">店铺转让</span></div>
    </header>
</section>
<section>
    <article id="categoryselect">
        <table>
            {if $aCatList13}
            {loop $aCatList13 $key $val}
            <tr>
                {loop $val $k $v}
                <td><a href="/mobile/cession/index.php?catid={$v['catid']}">{$v['catname']}</a></td>
                {/loop}
            </tr>
            {/loop}
            {/if}
        </table>
    </article>
</section>
<section class="contentlist">
    <header class="channelheader clear" style="background-color:#f5f5f5;">
        <div class="fl"><img src="{DT_SKIN}image/mobile/gmodule5.png"><span>名厨学堂</span></div>
    </header>
</section>
<section>
    <article id="categoryselect">
        <table>
            {if $aCatList13}
            {loop $aCatList13 $key $val}
            <tr>
                {loop $val $k $v}
                <td><a href="/mobile/discount/show.php?catid={$v['catid']}">{$v['catname']}</a></td>
                {/loop}
            </tr>
            {/loop}
            {/if}
        </table>
    </article>
</section>

<article class="line" style="border: 0px;"></article>
{template 'footer','mobile'}