<footer id="footer"  style=" filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity: 0; opacity: 0">
    <article class="footer clear">
        <a ><img src="{DT_SKIN}image/mobile/footer1.png" /></a>
        <a ><img src="{DT_SKIN}image/mobile/footer2.png" /></a>
        <a ><img src="{DT_SKIN}image/mobile/footer3.png" /></a>
        <a ><img src="{DT_SKIN}image/mobile/footer4.png" /></a>
    </article>
</footer>
<footer id="footer" class="footerfix">
    <article class="footer clear">
        <a href="/mobile/index.php"><img src="{DT_SKIN}image/mobile/footer1.png" /></a>
        <a href="/about/mcontact.html"><img src="{DT_SKIN}image/mobile/footer2.png" /></a>
        <a href="/mobile/member/index.php"><img src="{DT_SKIN}image/mobile/footer3.png" /></a>
        <a href="/mobile/member/index.php"><img src="{DT_SKIN}image/mobile/footer4.png" /></a>
    </article>
</footer>
