{template 'header','mobile'}
{template 'header1','mobile'}
<script src="{DT_SKIN}js/slider.js"></script>
<script>
    $(function () {
        // banner 默认设置

        var windowW = $(window).width();

        $('#roll-banner img').css({
            'width': windowW + 'px',
            'height': windowW * .4266666 + 'px'
        });

        $('#roll-banner .slider').css({
            'height': windowW * .4266666 + 'px'
        });

        $('#roll-banner .slider li').css({
            'width': windowW + 'px'
        });

        $('#roll-banner').css({
            'height': windowW * .4266666 + 'px'
        });

        // end
    })
</script>
<section id="roll-banner" class="sliderBox">
    <ul class="slider">{$sAdPlaceHot}</ul>
</section>
<section id="index">
    <div class="swiper-container">
        <div class="swiper-wrapper asdf">
            <article class="module swiper-slide">
                <ul class="clear">
                    <li>
                        <a href="/mobile/food/index.php">
                            <p><img src="{DT_SKIN_TWO}images/wycms/mobile/module1.png"  /></p>
                            <span>首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="/mobile/discount/index.php">
                            <p><img src="{DT_SKIN_TWO}images/wycms/mobile/module2.png"  /></p>
                            <span>投资理财</span>
                        </a>
                    </li>
                    <li class="noboderright ">
                        <a href="/mobile/job/index.php">
                            <p><img src="{DT_SKIN_TWO}images/wycms/mobile/module3.png"  /></p>
                            <span>关于我们</span>
                        </a>
                    </li>
                    <li class="noboderbottom">
                        <a href="/mobile/cession/index.php">
                            <p><img src="{DT_SKIN_TWO}images/wycms/mobile/module4.png"  /></p>
                            <span>融资业务</span>
                        </a>
                    </li>
                    <li  class="noboderbottom">
                        <a href="/mobile/school/index.php">
                            <p><img src="{DT_SKIN_TWO}images/wycms/mobile/module5.png"  /></p>
                            <span>联系我们</span>
                        </a>
                    </li>
                    <li  class="noboderright noboderbottom">
                        <a href="/mobile/horn/index.php" >
                            <p><img src="{DT_SKIN_TWO}images/wycms/mobile/module6.png"  /></p>
                            <span>常见问题</span>
                        </a>
                    </li>
                </ul>
            </article>
        </div>
    </div>
    <article>
        <p class="zhongtitle">平台优势</p>
        <img src="{DT_SKIN_TWO}images/wycms/mobile/floor1.jpg" class="zhongimg" />
    </article>
    <article style="margin-top:18px;background-color:#fff;">
        <p class="zhongtitle">投资项目</p>
        <div style="padding:20px;">
            <table class="daitable">
                <tr class="daibgth"><td  align="center">投资方</td><td width="100px" align="center">进度</td><td width="100px" align="center">状态</td></tr>
                <tr class="daibg0"><td><img src="{DT_SKIN_TWO}images/wycms/mobile/dai.png" class="daiicon" />投资方投资方投资</td><td align="center">78.51%</td><td align="center"><img src="{DT_SKIN_TWO}images/wycms/mobile/tou.jpg" /></td></tr>
                <tr class="daibg1"><td><img src="{DT_SKIN_TWO}images/wycms/mobile/dai.png" class="daiicon" />投资方投资方投资</td><td align="center">78.51%</td><td align="center"><img src="{DT_SKIN_TWO}images/wycms/mobile/tou.jpg" /></td></tr>
                <tr class="daibg0"><td><img src="{DT_SKIN_TWO}images/wycms/mobile/dai.png" class="daiicon" />投资方投资方投资</td><td align="center">78.51%</td><td align="center"><img src="{DT_SKIN_TWO}images/wycms/mobile/tou.jpg" /></td></tr>
                <tr class="daibg1"><td><img src="{DT_SKIN_TWO}images/wycms/mobile/dai.png" class="daiicon" />投资方投资方投资</td><td align="center">78.51%</td><td align="center"><img src="{DT_SKIN_TWO}images/wycms/mobile/tou.jpg" /></td></tr>
                <tr class="daibg0"><td><img src="{DT_SKIN_TWO}images/wycms/mobile/dai.png" class="daiicon" />投资方投资方投资</td><td align="center">78.51%</td><td align="center"><img src="{DT_SKIN_TWO}images/wycms/mobile/tou.jpg" /></td></tr>
            </table>
        </div>
    </article>
    <article  style="margin-top:18px;background-color:#fff;">
        <p class="zhongtitle">融资业务</p>
        <img src="{DT_SKIN_TWO}images/wycms/mobile/floor3.jpg" class="zhongimg" />
        <a href="" class="rongzibtn"><img src="{DT_SKIN_TWO}images/wycms/mobile/daibtn.png" /></a>
    </article>


    <article class="schoolchannel" style="margin-top:20px;">
        <ul class="comul clear" style="background-color:#fff;">

            <li class="clear" style="margin-bottom:0px;">
                <div class="lidiv">
                    <a class="schoola" href="/mobile/article/show.php?id="><img src="" /></a>
                </div>
            </li>
            <li class="clear"  style="margin-bottom:0px;">
                <div class="lidiv">
                    <a class="schoola" href="/mobile/article/show.php?id="><img src="" /></a>
                </div>
            </li>
        </ul>
    </article>
    <article class="article" style="margin-bottom:20px;">
        <div class="articlelist" >
            <ul>

                <li class="clear">
                    <span class="fr">35535</span>
                    <article><a >·343434</a></article>
                </li>

                <li class="more">
                    <label onclick="location.href='/mobile/article/index.php'">更多&nbsp;<i class="fa fa-angle-right"></i></label>
                </li>
            </ul>
        </div>
    </article>
</section>

{template 'footer','mobile'}