{template 'header','mobile'}
{template 'header1','mobile'}
<script src="{DT_SKIN}js/slider.js"></script>
<script>
    $(function () {
        // banner 默认设置

        var windowW = $(window).width();

        $('#roll-banner img').css({
            'width': windowW + 'px',
            'height': windowW * .4266666 + 'px'
        });

        $('#roll-banner .slider').css({
            'height': windowW * .4266666 + 'px'
        });

        $('#roll-banner .slider li').css({
            'width': windowW + 'px'
        });

        $('#roll-banner').css({
            'height': windowW * .4266666 + 'px'
        });

        // end
    })
</script>
<style>
    #roll-banner {
        width: 100%;
    }
    .slider li {
        float: left;
    }
    .sliderBox {
        position: relative;
        overflow: hidden;
    }
    #roll-banner img {
        min-width: 100%;
        max-width: 100%;
        display: block;
    }
    .slider {
        position: absolute;
        left: 0;
        height: 100%;
        -webkit-backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
    }
</style>
<section id="roll-banner" class="sliderBox">
    <ul class="slider">
        <li><img src="{DT_SKIN_TWO}images/wycms/logo.png" /></li>
        <li><img src="{DT_SKIN_TWO}images/wycms/logo.png" /></li>
        <li><img src="{DT_SKIN_TWO}images/wycms/logo.png" /></li>
    </ul>
</section>
<section id="index">
    <div class="swiper-container">
        <div class="swiper-wrapper asdf">
            <article class="module swiper-slide">
                <ul class="clear">
                    <li>
                        <a href="/mobile/food/index.php">
                            <p><img src="{DT_SKIN_TWO}images/wycms/mobile/module1.png"  /></p>
                            <span>餐饮供应</span>
                        </a>
                    </li>
                    <li>
                        <a href="/mobile/discount/index.php">
                            <p><img src="{DT_SKIN_TWO}images/wycms/mobile/module2.png"  /></p>
                            <span>餐饮优惠</span>
                        </a>
                    </li>
                    <li>
                        <a href="/mobile/job/index.php">
                            <p><img src="{DT_SKIN_TWO}images/wycms/mobile/module3.png"  /></p>
                            <span>餐饮招聘</span>
                        </a>
                    </li>
                    <li>
                        <a href="/mobile/cession/index.php">
                            <p><img src="{DT_SKIN_TWO}images/wycms/mobile/module4.png"  /></p>
                            <span>店铺转让</span>
                        </a>
                    </li>
                    <li>
                        <a href="/mobile/school/index.php">
                            <p><img src="{DT_SKIN_TWO}images/wycms/mobile/module5.png"  /></p>
                            <span>名厨学堂</span>
                        </a>
                    </li>
                    <li>
                        <a href="/mobile/horn/index.php">
                            <p><img src="{DT_SKIN_TWO}images/wycms/mobile/module6.png"  /></p>
                            <span>羊角会</span>
                        </a>
                    </li>
                </ul>
            </article>
        </div>
    </div>
    <article class="article">
        <p class="zhongtitle">平台优势</p>
        <img src="{DT_SKIN_TWO}images/wycms/mobile/floor1.jpg" class="zhongimg" />
    </article>
    <article class="article">
        <p class="zhongtitle">投资项目</p>
        <img src="{DT_SKIN_TWO}images/wycms/mobile/floor1.jpg" class="zhongimg" />
    </article>
    <article class="article">
        <p class="zhongtitle">融资业务</p>
        <img src="{DT_SKIN_TWO}images/wycms/mobile/floor1.jpg" class="zhongimg" />
    </article>
</section>
{template 'footer','mobile'}