<header>
    <article  id="header1" class="clear">
        <a class="forback fl" href="{if isset($backurl)}{$backurl}{else}{$CFG['url']}mobile/index.php{/if}"><img src="{DT_SKIN}image/mobile/leftpoint.png" />{$topname}</span></a>
        {if !isset($isajax) || !$isajax}
        <div class="headersearch">
            <img class="span1" src="{DT_SKIN}image/mobile/bigshare.png" onclick="goShare()" />
            {if isset($likenum)}
            <img onclick="like({$id},{$likenum},this,1)" src="{DT_SKIN}image/mobile/biglove.png" />
            {/if}
        </div>
        {/if}
    </article>
</header>