<header>
    <article  id="header1" class="clear">
        <a class="forback fl" href="{if isset($backurl)}{$backurl}{else}{$CFG['url']}mobile/index.php{/if}"><img src="{DT_SKIN}image/mobile/leftpoint.png" />{if isset($topname)}{$topname}{else}{$title}{/if}</span></a>
        <div class="headersearch">
            <input name="keyword" class="searchkey" {if isset($kw) && $kw}style="display:inline-block;" value="{$kw}"{else}style="display:none;"{/if} />
            <img src="{DT_SKIN}image/mobile/search.png" class="serachright" />
        </div>
    </article>
</header>
<script>

    $(function(){
        $(".serachright").click(function(){
            $("#header1 .searchkey").css("display","inline-block;");
            if($(this).attr("form")=="form"){
                var keyword = $(".searchkey").val();
                location.href = "/mobile/food/index.php?kw="+keyword;
            }else{
                $(this).attr("form","form");
            }
        })
    })

</script>