{template 'header','mobile'}
{template 'search','mobile'}
<script src="{DT_SKIN}js/iscroll.js"></script>
<style>
    .cityleft {background-color:#fff;}
    .cityleft,.cityright {width:50%;position:relative;border-bottom:1px solid #ddd8cd;}
    .cityleft ul,.cityright ul {width:100%;border-right:1px solid #ddd8cd;}
    .cityleft div ,.cityright div{opacity:0 !important;}
    .cityleft li,.cityright li {font-size:1.4em;line-height:3em;padding:0px 10px;    border-bottom: 1px solid #ddd8cd;}
    .cityright li {background-color:#f6f4f0;}
    .leftselect {background-color:#f6f4f0;}
    .rightselect {background-color:#fff;}
</style>
<section style="border-top:1px solid #ddd8cd">
    <article   class="clear">
        <div class="fl cityleft cityscrool">
            <ul>
                <li data-id="0" class="leftselect" isnas = "all">所在分站</li>
            </ul>
        </div>
        <div class="fl cityright cityscrool">
            <ul>

            </ul>
        </div>
    </article>
</section>
<div id="gundong" style="display:block;"><img src="{DT_SKIN}image/20.gif" /></div>
<script>
    $(function(){
        $.ajax({
            type:'post',
            async:false,
            url:'/ajax.php?action=selectcity&type=getFirstCityli',
            success:function(data){
                $(".cityleft ul").append(data);
                $("#gundong").css("display","none");
            }
        })
        //切换城市选择
        $(document).on("click",".cityleft ul li",function(){
            $(".leftselect").removeClass('leftselect');
            $(this).addClass('leftselect');
            if($(this).attr('isnas')=='all'){
                location.href = "{$forward}areaid="+$(this).attr('data-id');
            }else{
                $("#gundong").css("display","block");
                var cityid = $(this).attr("data-id");
                $.ajax({
                    type:'post',
                    async:false,
                    url:'/ajax.php?action=selectcity&type=getFirstCityli&areaid='+cityid,
                    success:function(data){
                        $("#gundong").css("display","none");
                        $(".cityright ul").html(data);
                    }
                })
            }
        })
        $(document).on("click",".cityright ul li",function(){
            location.href = "{$forward}areaid="+$(this).attr('data-id');
        })
    })
    /* 列表顶部下拉刷新，底部上拉加载更多 */
    $(function() {
        var className, getList, i, j, len, list, pullUpLabel, ref, refreshList, windows;

        list = {
            lists: [],
            element: '.cityscrool',
            className: 'cityscrool',
            addListElement: $('.pullUpLabel'),
            thresholdValue: 45,
            addTip: {
                initialize: '继续拉动加载更多',
                load: '正在加载...',
                soonLoad: '释放手指加载更多',
                state: false
            },
            refreshTip: {
                element: $('.pullDownLabel'),
                initialize: '继续下拉刷新列表',
                soonLoad: '释放手指刷新列表',
                state: false
            }
        };

        windows = {
            width: $(window).width(),
            height: $(window).height()
        };

        $(list.element).css({
            height: windows.height - 66 + 'px'
        });


        /*
         ajax 下拉请求列表
         fn {Function} 回调函数
         i {Number} 当前滚动的列表索引值
         */
        getList = function(fn) {

            return fn();
        };


        pullUpLabel = function(i) {
            list.addListElement.text(list.addTip.load);
            return getList(function() {
                list.lists[i].refresh();
                return list.addListElement.text(list.addTip.initialize);
            }, i);
        };

        refreshList = function(element, i) {
            var scroll;
            scroll = new iScroll(element, {
                useTransform: true,
                fadeScrollbars: false,
                onRefresh: function() {},
                onScrollMove: function() {
                    if (this.y < (this.maxScrollY - list.thresholdValue)) {
                        list.addListElement.text(list.addTip.soonLoad);
                        list.addTip.state = true;
                    } else {
                        list.addListElement.text(list.addTip.initialize);
                        list.addTip.state = false;
                    }
                    if (this.y > list.thresholdValue) {
                        list.refreshTip.element.text(list.refreshTip.soonLoad);
                        return list.refreshTip.state = true;
                    } else {
                        list.refreshTip.element.text(list.refreshTip.initialize);
                        return list.refreshTip.state = false;
                    }
                },
                onScrollEnd: function() {
                    if (list.addTip.state) {
                        pullUpLabel(i);
                    }
                    if (list.refreshTip.state) {

                    }
                }
            });
            return list.lists.push(scroll);
        };

        ref = $(list.element);
        for (i = j = 0, len = ref.length; j < len; i = ++j) {
            className = ref[i];
            refreshList(document.getElementsByClassName(list.className)[i], i);
        }

    })
</script>