<footer class="g">
    <div class="foot">
        <div class="container">
            <div class="nav">
                <div class="column fl">
                    <div class="title">
                        <img src="{DT_SKIN_TWO}images/wycms/footerr1.png" /> 关于我们
                    </div>
                    <ul>
                        <li><a href="http://www.lawyermarketing.cn/solutions/pptg/">公司介绍</a></li>
                        <li><a href="http://www.lawyermarketing.cn/solutions/kpyx/">行业优势</a></li>
                        <li><a href="http://www.lawyermarketing.cn/solutions/mobile/">公司动态</a></li>
                        <li><a href="http://www.lawyermarketing.cn/solutions/mobile/">联系我们</a></li>
                        <li><a href="http://www.lawyermarketing.cn/solutions/mobile/">加入我们</a></li>
                    </ul>
                </div>
                <div class="column fl">
                    <div class="title">
                        <img src="{DT_SKIN_TWO}images/wycms/footerr2.png" /> 融资业务
                    </div>
                    <ul>
                        <li><a href="http://www.lawyermarketing.cn/solutions/pptg/">新手指引</a></li>
                        <li><a href="http://www.lawyermarketing.cn/solutions/kpyx/">融资流程</a></li>
                        <li><a href="http://www.lawyermarketing.cn/solutions/mobile/">风险把控</a></li>
                        <li><a href="http://www.lawyermarketing.cn/solutions/mobile/">在线申请</a></li>
                    </ul>
                </div>
                <div class="column fl">
                    <div class="title">
                        <img src="{DT_SKIN_TWO}images/wycms/footerr3.png" /> 投资理财
                    </div>
                    <ul>
                        <li><a href="http://www.lawyermarketing.cn/solutions/pptg/">新手必读</a></li>
                        <li><a href="http://www.lawyermarketing.cn/solutions/kpyx/">投资流程</a></li>
                        <li><a href="http://www.lawyermarketing.cn/solutions/mobile/">安全保障</a></li>
                        <li><a href="http://www.lawyermarketing.cn/solutions/mobile/">理财产品</a></li>
                    </ul>
                </div>
                <div class="column fl">
                    <div class="title">
                        <img src="{DT_SKIN_TWO}images/wycms/footerr4.png" /> 会员中心
                    </div>
                    <ul>
                        <li><a href="http://www.lawyermarketing.cn/solutions/pptg/">个人会员</a></li>
                        <li><a href="http://www.lawyermarketing.cn/solutions/kpyx/">企业会员</a></li>
                        <li><a href="http://www.lawyermarketing.cn/solutions/mobile/">注册页</a></li>
                        <li><a href="http://www.lawyermarketing.cn/solutions/mobile/">登录页</a></li>
                    </ul>
                </div>
            </div>
            <div class="msg">
                <div class="column column1 fl">
                    <p class="clearfix"><span class="touwen">投资顾问： </span><span>李翊煊 15909559866</span><span>贺建辉 13519253521</span></p>
                    <p class="clearfix"><span class="touwen">&nbsp;</span><span>史韵 13639588261</span><span>王志芮  18465153520</span></p>
                    <p>公司地址： 中宁县宁安东街雅泰城市华园31、32#营业房</p>
                    <p>公司电话： +86-0955-5716799</p>
                </div>
                <div class="column column3 fl">
                    <div class="qr-code">
                        <img src="{DT_SKIN_TWO}images/wycms/wap.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    //暂时没用。。。。。。。。。。。。。。。。。。。。
    $(document).ready(function() {
        $('.tags-box a').on('click', function(event) {
            var $tagName = $(this).html();
            $.post('http://www.lawyermarketing.cn/index.php', {tag: $tagName}, function(data, textStatus, xhr) {
                window.location.href = 'http://www.lawyermarketing.cn/index.php?q=' + $tagName + '&m=search&c=index&a=init&typeid=&siteid=1';
            });
        });
    });
</script>

</body>
</html>