<footer class="g">
    <div class="foot">
        <div class="container">
            <div class="nav">
                <div class="column fl">
                    <div class="title">
                        <img src="{DT_SKIN_TWO}images/wycms/footerr1.png" /> 关于我们
                    </div>
                    <ul>
                        <li><a href="{$CFG['url']}about/compintro.html">公司介绍</a></li>
                        <li><a href="{$CFG['url']}about/advantage.html">行业优势</a></li>
                        <li><a href="{$CFG['url']}abouts/news.php">公司动态</a></li>
                        <li><a href="{$CFG['url']}about/contact.html">联系我们</a></li>
                        <li><a href="{$CFG['url']}about/joinus.html">加入我们</a></li>
                    </ul>
                </div>
                <div class="column fl">
                    <div class="title">
                        <img src="{DT_SKIN_TWO}images/wycms/footerr2.png" /> 融资业务
                    </div>
                    <ul>
                        <li><a href=/finance/index.php#module1">新手指引</a></li>
                        <li><a href="/finance/index.php#module2">融资流程</a></li>
                        <li><a href="/finance/index.php#module3">风险把控</a></li>
                        <li><a href="/finance/index.php#module4">在线申请</a></li>
                    </ul>
                </div>
                <div class="column fl">
                    <div class="title">
                        <img src="{DT_SKIN_TWO}images/wycms/footerr3.png" /> 投资理财
                    </div>
                    <ul>
                        <li><a href="/invest/index.php#module1">新手必读</a></li>
                        <li><a href="/invest/index.php#module2">投资流程</a></li>
                        <li><a href="/invest/index.php#module3">安全保障</a></li>
                        <li><a href="/invest/index.php#module4">理财产品</a></li>
                    </ul>
                </div>
                <div class="column fl">
                    <div class="title">
                        <img src="{DT_SKIN_TWO}images/wycms/footerr4.png" /> 会员中心
                    </div>
                    <ul>
                        <li><a href="/member/index.php">个人会员</a></li>
                        <li><a href="/member/index.php">企业会员</a></li>
                        <li><a href="/member/register.php">注册页</a></li>
                        <li><a href="/member/login.php">登录页</a></li>
                    </ul>
                </div>
            </div>
            <div class="msg">
                <div class="column column1 fl">

                    <p class="clearfix"><span class="touwen">公司邮箱： </span><span>{$DT['emailnum']}</span><span>微信公众号：{$DT['weixinnum']}</span></p>
                    <p>公司地址： {$DT['address']}</p>
                    <p>公司电话： {$DT['telephone']}</p>
                </div>
                <div class="column column3 fl">
                    <div class="qr-code">
                        <img src="{DT_SKIN_TWO}images/wycms/wap.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>