<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{$seo_title}{$DT['seo_title']}</title>
    <meta name="keywords" content="{$DT['seo_keywords']}">
    <meta name="description" content="{$DT['seo_description']}">
    <link rel="stylesheet" href="{DT_SKIN_TWO}css/font-awesome.min.css">
    <link rel="stylesheet" href="{DT_SKIN_TWO}css/style.css">
    <link rel="stylesheet" href="{DT_SKIN_TWO}css/validform.css">
    <script src="{DT_SKIN_TWO}js/jquery-1.11.1.min.js"></script>
    <script src="{DT_SKIN_TWO}js/lm.js"></script>
    <script src="{DT_SKIN_TWO}js/html5shiv.js"></script>
    <script src="{DT_SKIN_TWO}js/Validform_v5.3.2.js"></script>
    <!--[if lte IE 7]><script>window.location.href='http://cdn.dmeng.net/upgrade-your-browser.html?referrer='+location.href;</script><![endif]-->
    <!--[if IE 8]><script src="{DT_SKIN_TWO}js/html5shiv.js"></script><style type="text/css">.shadow {background: black;filter: alpha(opacity=60);}</style><![endif]-->
</head>
<script>
    var DTPath = "{$CFG['url']}";
    $(function(){
        //头部二维码
        $(".qrcode").click(function(){
            $(".toptwo").css('display','block');
        })
    })



</script>
<body>
<header class="g">
    <div class="top">
        <div class="container" style="position:relative;">
            <span class='fr'>咨询热线：0955-5716799 </span>
            <a href="" class="social"><i class="fa fa-wechat"></i></a>
            <a href="" class="social"><i class="fa fa-weibo"></i></a>
            <a href="javascript:;" class="social qrcode"><i class="fa fa-qrcode"></i></a>
            <div class="login"> <a href="http://u.lawyermarketing.cn/reg/">注册&nbsp;|</a>&nbsp;<a href="http://u.lawyermarketing.cn/login/">登录</a></div>
            <img src="{DT_SKIN_TWO}images/wycms/twowap.png" class="toptwo"  />
        </div>
    </div>

    <div class="header">
        <div class="container">
            <div class="clearfix">
                <a href="/"><img  class="header-logo" src="{DT_SKIN_TWO}images/wycms/logo.png" alt=""></a>
                <img  class="header-logo header-logo-right" src="{DT_SKIN_TWO}images/wycms/logoright.png" alt="">
            </div>
            <nav>
                <ul class="clearfix">
                    <li><a href="{$CFG['url']}"  class="frist {if isset($nav_selected) && $nav_selected=='index'}now{/if}" >首页<small>HOME</small></a></li>
                    <li>
                        <a href="javascript:void(0)"  class="frist nav-menu {if isset($nav_selected) && $nav_selected=='abouts'}now{/if}" >关于我们<small>ABOUT</small><span></span></a>
                        <div class="menu-box menu1">
                            <div class="box">
                                <dl>
                                    <dt><a href="{$CFG['url']}abouts/compintro.php">公司介绍</a></dt>
                                </dl>
                                <dl>
                                    <dt><a href="{$CFG['url']}abouts/advantage.php">行业优势</a></dt>
                                </dl>
                            </div>
                            <div class="menu-line fl"></div>
                            <div class="box">
                                <dl>
                                    <dt><a href="{$CFG['url']}abouts/new.php">公司动态</a></dt>
                                </dl>
                                <dl>
                                    <dt><a href="{$CFG['url']}abouts/contact.php">联系我们</a></dt>
                                </dl>
                                <dl>
                                    <dt><a href="{$CFG['url']}abouts/joinus.php">加入我们</a></dt>
                                </dl>
                            </div>
                            <div class="menu-line fl"></div>
                            <div class="menu-img fl"></div>
                            <div class="menu-line fl"></div>
                            <div class="text fl">
                                <h2>关于我们</h2>
                                <p>中宁县民间借贷登记服务中心是一家集“金融服务、信息咨询、投融资理财、项目融资、业务代理、理财顾问、业务培训、民间借贷登记服务等业务”的公司</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)"  class="frist nav-menu {if isset($nav_selected) && $nav_selected=='finance'}now{/if}" >融资业务<small>PROMOTION </small><span></span></a>
                        <div class="menu-box menu2">
                            <div class="box">
                                <dl>
                                    <dt><a href="{$CFG['url']}finance/index.php#module1">新手指引</a></dt>
                                </dl>
                                <dl>
                                    <dt><a href="{$CFG['url']}finance/index.php#module2">融资流程</a></dt>
                                </dl>

                            </div>
                            <div class="menu-line fl"></div>
                            <div class="box">
                                <dl>
                                    <dt><a href="{$CFG['url']}finance/index.php#module3">风险把控</a></dt>
                                </dl>
                                <dl>
                                    <dt><a href="{$CFG['url']}finance/index.php#module4">在线申请</a></dt>
                                </dl>
                            </div>
                            <div class="menu-line fl"></div>
                            <div class="menu-img fl"></div>
                            <div class="menu-line fl"></div>
                            <div class="text fl">
                                <h2>融资业务</h2>
                                <p>有直接监管部门严格的监管把控，建立风险防范和预警机制，专项风险准备金的计提，业绩报告公示</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)"  class="frist nav-menu" >投资理财<small>SOLUTIONS</small><span></span></a>
                        <div class="menu-box menu3">
                            <div class="box">
                                <dl>
                                    <dt><a href="{$CFG['url']}invest/index.php#module1">新手必读</a></dt>
                                </dl>
                                <dl>
                                    <dt><a href="{$CFG['url']}invest/index.php#module2">投资流程</a></dt>
                                </dl>

                            </div>
                            <div class="menu-line fl"></div>
                            <div class="box">
                                <dl>
                                    <dt><a href="{$CFG['url']}invest/index.php#module3">安全保障</a></dt>
                                </dl>
                                <dl>
                                    <dt>理财产品</dt>
                                </dl>
                            </div>
                            <div class="menu-line fl"></div>
                            <div class="menu-img fl"></div>
                            <div class="menu-line fl"></div>
                            <div class="text fl">
                                <h2>投资理财</h2>
                                <p>投资有风险，请选择正规合法安全的投资平台。</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)"  class="frist nav-menu" >最新资讯<small>NEWS</small><span></span></a>
                        <div class="menu-box menu4">
                            <div class="text fl">
                                <h2>行业新闻</h2>
                                <p>中宁县民间借贷登记服务中心</p>
                            </div>
                            <div class="menu-line fl"></div>
                            <div class="menu-img fl"></div>
                            <div class="menu-line fl"></div>
                            <div class="box">

                            </div>
                            <div class="menu-line fl"></div>
                            <div class="box">

                            </div>
                        </div>
                    </li>
                    <li><a  class="frist"  href="./case.html">常见问题<small>question</small></a></li>

                </ul>
            </nav>
        </div>

    </div>
</header>