{template  'header'}
<script src="{DT_SKIN_TWO}js/jquery.SuperSlide.2.1.1.js"></script>
<div id="slideBox" class="slideBox">
    <div class="hd">
        <ul>
            {if $sAdPlaceHot}
            {loop $sAdPlaceHot $k $v}
            <li>{$k+1}</li>
            {/loop}
            {/if}
        </ul>
    </div>
    <div class="bd" style="height:{$aAd['height']}px">
        <ul>
            {if $sAdPlaceHot}
            {loop $sAdPlaceHot $k $v}
            <li style="background:url('{$v[flash_src]}') top center no-repeat;height:{$aAd['height']}px">{if $v['flash_url']}<a href="{$v['flash_url']}" title="{$v['title']}" target="_blank" style="display:block;"></a>{/if}</li>
            {/loop}
            {/if}
        </ul>
    </div>
</div>
<script>
/* 首页banner轮播*/
$(document).ready(function() {
    jQuery(".slideBox").slide({
        mainCell: ".bd ul",
        effect: "left",
        autoPlay: true
    });
    $('#slideBox .bd li').eq(1).on('click', function(event) {
       $(this).find('.inner').toggle();
    });
});
</script>
<section class="system">
    <div class="container">
        <div class="intro">
            <div><img src="{DT_SKIN_TWO}images/wycms/yousi.png" /></div>
        </div>
        <div class="index-set clearfix">
            <div class="index-set1"></div>
            <div class="index-set2"></div>
            <div class="index-set3"></div>
            <div class="index-set4"></div>
            <div class="index-set5"></div>
        </div>
    </div>
</section>
<section class="system">
    <div class="container">
        <div class="intro">
            <div><img src="{DT_SKIN_TWO}images/wycms/indextitle2.png" /></div>
            <p class="introtitle">资金安全保证-是我们的使命；投资，抓住时机是关键；区内首创“投资理财”新概念；</p>
        </div>
        <div class="step-box">
            <div class="step step1">
                <div class="title-box">会员注册</div>
                <div class="nav-box">
                    <div class="line">
                    </div>
                    <div class="circle">
                        <img style="margin-top:8px;" src="{DT_SKIN_TWO}images/wycms/indexmo1.png" />
                    </div>
                </div>
            </div>

            <div class="step step2">
                <div class="title-box">银行开户 </div>
                <div class="nav-box center-block">
                    <div class="line">
                    </div>
                    <div class="circle">
                        <img style="margin-top:14px;" src="{DT_SKIN_TWO}images/wycms/indexmo2.png" />
                    </div>
                </div>
            </div>
            <div class="step step3">
                <div class="title-box">预约登记</div>
                <div class="nav-box center-block">
                    <div class="line">
                    </div>
                    <div class="circle">
                        <img style="margin-top:12px;margin-left:3px;" src="{DT_SKIN_TWO}images/wycms/indexmo3.png" />
                    </div>
                </div>
            </div>
            <div class="step step4">
                <div class="title-box">按月收息</div>
                <div class="nav-box center-block">
                    <div class="line">
                    </div>
                    <div class="circle">
                        <img style="margin-top:10px;" src="{DT_SKIN_TWO}images/wycms/indexmo4.png" />
                    </div>
                </div>
            </div>
            <div class="step step5">
                <div class="title-box">签约并转款</div>
                <div class="nav-box center-block">
                    <div class="line">
                    </div>
                    <div class="circle">
                        <img style="margin-top:13px;margin-left:3px;" src="{DT_SKIN_TWO}images/wycms/indexmo5.png" />
                    </div>
                </div>
            </div>
            <div class="step step6">
                <div class="title-box">领取合同和借据</div>
                <div class="nav-box center-block">
                    <div class="line">
                    </div>
                    <div class="circle">
                        <img style="margin-top:11px;" src="{DT_SKIN_TWO}images/wycms/indexmo6.png" />
                    </div>
                </div>
            </div>
            <div class="step step7">
                <div class="title-box">到期收本金</div>
                <div class="nav-box center-block">
                    <div class="line">
                    </div>
                    <div class="circle">
                        <img style="margin-top:10px;" src="{DT_SKIN_TWO}images/wycms/indexmo7.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-bar">

        </div>
        <div class="focus">
            <ul>
                <li><img src="{DT_SKIN_TWO}images/wycms/indexmob1.jpg" alt=""></li>
                <li><img src="{DT_SKIN_TWO}images/wycms/indexmob2.jpg" alt=""></li>
                <li><img src="{DT_SKIN_TWO}images/wycms/indexmob3.jpg" alt=""></li>
                <li><img src="{DT_SKIN_TWO}images/wycms/indexmob4.jpg" alt=""></li>
                <li><img src="{DT_SKIN_TWO}images/wycms/indexmob5.jpg" alt=""></li>
                <li><img src="{DT_SKIN_TWO}images/wycms/indexmob6.jpg" alt=""></li>
                <li><img src="{DT_SKIN_TWO}images/wycms/indexmob7.jpg" alt=""></li>
            </ul>
            <span class="direction prev"><</span>
            <span class="direction next">></span>
        </div>
        <div id="indexnotice">
            <img src="{DT_SKIN_TWO}images/wycms/indexnotice.png" alt=""/>
            <div id="scroll_div" class="scroll_div">
                <div id="scroll_begin">
                    {if $aBrand}
                    {loop $aBrand $k $v}
                    <a href="/bbs/show.php?id={$v['itemid']}" target="_blank">{$v['title']}</a>
                    {/loop}
                    {/if}
                    <div id="scroll_end" style="filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity: 0;"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="group">
    <div class="container" style="position:relative;">
        <img src="{DT_SKIN_TWO}images/wycms/indexmodu5.jpg" />
        <div class="modumoney">已为投资人赚取<span>{$DT['invest_money']}</span>元</div>
        <img src="{DT_SKIN_TWO}images/wycms/indexmodu5button.png" onclick="location.href = '{$CFG[url]}invest/index.php#module1'" class="indexmodu5button" />
    </div>
</section>
<section class="system">
    <div class="container">
        <div class="intro">
            <div><img src="{DT_SKIN_TWO}images/wycms/indexmodu6.png" /></div>
        </div>
        <div class="clearfix indexmodu6">
            <div class="indexmodu6left">
                <img src="{DT_SKIN_TWO}images/wycms/indexmodu6left.png" />
            </div>
            <div class="indexmodu6right">
                <table>
                    <tr class="rightth">
                        <th class="td1">借款方</th>
                        <th class="td2">年利率</th>
                        <th class="td3">金额</th>
                        <th class="td4">用途</th>
                        <th class="td5">期限</th>
                        <th class="td6">进度</th>
                        <th class="td7"></th>
                    </tr>
                    {if $aSell}
                    {loop $aSell $k $v}
                    <tr class="dan<?php echo $k%2; ?>">
                        <td><span class="dai" title="{$v['title']}">贷</span>{mb_substr($v['title'],0,4,'utf-8')}{if mb_strlen($v['title'])>4}...{/if}</td>
                        <td>{$v['apr']}</td>
                        <td align="center">{$v['price']}</td>
                        <td align="center" title="{$v['reason']}">{mb_substr($v['reason'],0,4,'utf-8')}</td>
                        <td align="center">{$v['month']}</td>
                        <td>{$v['setbacks']}</td>
                        <td>
                            <img src="{DT_SKIN_TWO}images/wycms/daitou{$v['setstatus']}.png" class="daitou{$v['setstatus']}" {if $v['setstatus']==0}onclick="location.href='{$CFG[url]}invest/show.php?id={$v[itemid]}'"{/if} />
                        </td>
                    </tr>
                    {/loop}
                    {/if}
                </table>
            </div>
        </div>
    </div>
</section>
<section class="group">
    <div class="container" style="width:1200px;">
        <img src="{DT_SKIN_TWO}images/wycms/indexmodu7.jpg" />
    </div>
</section>
<section class="system">
    <div class="container">
        <div class="intro">
            <div><img src="{DT_SKIN_TWO}images/wycms/indexmodu7.png" /></div>
            <div class="indexmodu7title">累计融资业务分布数据统计-按期限</div>
        </div>
        <div class="clearfix indexmodu7">
            <div class="numsnsow numtitle1">
                <p class="numtitle">成交笔数</p>
                <p class="numtnum">{$numsinfo['invest_nums']}</p>
                <p class="numtdan">( 笔 )</p>
            </div>
            <div class="numsnsow numtitle2">
                <p class="numtitle">成交金额</p>
                <p class="numtnum">{$numsinfo['invest_money']}</p>
                <p class="numtdan">( 万元 )</p>
            </div>
            <div class="numsnsow numtitle3">
                <p class="numtitle">为投资者赚取</p>
                <p class="numtnum">{$DT['invest_money']}</p>
                <p class="numtdan">( 元 )</p>
            </div>
            <div class="numsnsow numtitle4">
                <p class="numtitle">投资利率( % )</p>
                <p class="numtnum">{$DT['rate']}</p>
                <p class="numtdan">( {$DT['rate_time']} )</p>
            </div>
        </div>
    </div>
</section>
<section class="group">
    <div class="container">
        <div class="intro">
            <div><a href="{$CFG['url']}article/index.php"><img src="{DT_SKIN_TWO}images/wycms/indexmodu8.png" /></a></div>
        </div>
        <div class="clearfix indexmodu8">
            <div class="indexmodu8left clearfix">
                {if $aArticleHasThumb}
                {loop $aArticleHasThumb $k $v}
                <a href="{$CFG['url']}article/show.php?id={$v['itemid']}" title="{$v['title']}" target="_blank"><img src="{if $v['thumb'] && file_exists(str_replace($CFG['url'],DT_ROOT.'/',$v['thumb']))}{$v['thumb']}{else}{DT_SKIN_TWO}images/wycms/default.jpg{/if}" /></a>
                {/loop}
                {/if}
            </div>
            <div class="indexmodu8right">
                <ul>
                    {if $aArticleNews}
                        {loop $aArticleNews $k $v}
                        <li class="clearfix"><span>0{$k+1}、</span><a href="{$CFG['url']}article/show.php?id={$v['itemid']}" title="{$v['title']}" target="_blank">{$v['title']}</a></li>
                        {/loop}
                    {/if}
                </ul>
                <p><a href="{$CFG['url']}article/index.php">MOVE>></a></p>
            </div>
        </div>
    </div>

</section>
<script>
    //通告向左滚动
    function ScrollImgLeft(){
        var speed=50;
        var scroll_begin = document.getElementById("scroll_begin");
        var scroll_end = document.getElementById("scroll_end");
        var scroll_div = document.getElementById("scroll_div");
        scroll_end.innerHTML=scroll_begin.innerHTML;
        function Marquee() {
            if (scroll_end.offsetWidth - scroll_div.scrollLeft <= 0) {
                scroll_div.scrollLeft -= scroll_begin.offsetWidth;

            } else {
                scroll_div.scrollLeft++;
                $("#scroll_end").attr('style','filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity: 1;');
            }
        }
        if(scroll_end.offsetWidth - scroll_div.offsetWidth > 0){
            var MyMar=setInterval(Marquee,speed);
            scroll_div.onmouseover=function() {clearInterval(MyMar);}
            scroll_div.onmouseout=function() {MyMar=setInterval(Marquee,speed);}
        }

    }
    ScrollImgLeft();
</script>
{template  'footer'}

