{template 'header','member'}
<section class="usercon">
    <div class="clearfix usercondiv">
        <form class="userconleft fl" id="findpwform">
            <p class="usercontitle">找回密码</p>
            <p class="userconp clearfix">
                <span class="fl userconpl">注册邮箱：</span>
                <span class="userconli fl">
                    <input type="text" name="username" class="mobile" placeholder="请输入注册邮箱" datatype="e,mobile" ajaxurl="/ajax.php?action=member&job=email&moduleid=2&must_exists=1">
                </span>
            </p>
            <p class="userconp clearfix">
                <span class="fl userconpl">设置密码：</span>
                <span class="userconli fl">
                    <input type="password"  name="password" placeholder="请设置密码：" datatype="s6-20" datatype="s6-20">
                </span>
            </p>
            <p class="userconp clearfix">
                <span class="fl userconpl">确认密码：</span>
                <span class="userconli fl">
                    <input type="password" name="cpassword" placeholder="请确认密码："  datatype="*" recheck="password">
                </span>
            </p>
            <p class="userconp clearfix">
                <span class="fl userconpl"></span>
                <span class="userconli fl">
                    <input type="hidden" name="submit" value="1" />
                    <input type="submit" class="userconbu redchu" value="马上找回" />
                    <em class="clearfix" style="margin-top:5px;"><a class="nowregister" href="register.php">还没注册账号,立即注册！</a></em>
                </span>
            </p>
        </form>
        <div class="userconright fr">
            <img src="{DT_SKIN_TWO}images/wycms/wap.png" width="165px" height="165px;" />
        </div>
    </div>
</section>

<script src="{DT_SKIN}js/Validform_v5.3.2_min.js"></script>
<script type="text/javascript">

    $("#findpwform").Validform({
        tiptype: 3,
        postonce:true,
        ajaxPost:true,
        beforeSubmit:function(curform){
            getToken();
            return true;
        },
        callback:function(data){
            alert(data.info);
        }
    })
</script>
{template 'footer','member'}

