{template 'header','member'}
<section class="usercon">
    <div class="clearfix usercondiv">
        <form class="userconleft fl">
            <p class="usercontitle">找回密码</p>
            <p class="userconp clearfix">
                <span class="fl userconpl">手机账号：</span>
                <span class="userconli fl">
                    <input type="text" >
                    <span>fdf</span>
                </span>
            </p>
            <p class="userconp clearfix">
                <span class="fl userconpl">验证码：</span>
                <span class="userconli fl">
                    <input type="text" class="userconma" >
                    <input type="button" class="userconmacode" value="发送验证码" />
                </span>
            </p>
            <p class="userconp clearfix">
                <span class="fl userconpl">设置密码：</span>
                <span class="userconli fl">
                    <input type="text" >
                </span>
            </p>
            <p class="userconp clearfix">
                <span class="fl userconpl">确认密码：</span>
                <span class="userconli fl">
                    <input type="text" >
                </span>
            </p>
            <p class="userconp clearfix">
                <span class="fl userconpl"></span>
                <span class="userconli fl">
                    <input type="submit" class="userconbu redchu" value="马上找回" />
                    <em class="clearfix" style="margin-top:5px;"><a class="nowregister">还没注册账号,立即注册！</a></em>
                </span>
            </p>
        </form>
        <div class="userconright fr">
            <img src="{DT_SKIN_TWO}images/wycms/wap.png" width="165px" height="165px;" />
        </div>
    </div>
</section>

<script src="{DT_SKIN}js/Validform_v5.3.2_min.js"></script>
<script src="{DT_SKIN}js/send.js"></script>
<script type="text/javascript">

    $("#form").Validform({
        tiptype: 3,
        datatype:{
            "mobile":function(gets,obj,curform,regxp){
                var istrue = false;
                $.ajax({
                    type:'post',
                    url:"/ajax.php?action=member&job=mobile&must_exists=1&moduleid=2&param="+gets,
                    dataType:'json',
                    async:false,
                    success:function(data){
                        if(data.status=='y'){
                            istrue = true;
                            getCodeStatus = getCodeStatus=='10' || getCodeStatus=='00'?'01':getCodeStatus;
                            $("#check-btn").removeAttr("disabled");
                        }else{
                            istrue = data.info;
                        }
                    }
                })
                return istrue;
            }
        },
        postonce:true,
        ajaxPost:true,
        beforeSubmit:function(curform){
            getToken();
            return true;
        },
        callback:function(data){
            alert(data.info);
            if(data.status=='y'){
                window.setTimeout("locationhref()",1000);
            }
        }
    })

    function locationhref(){
        location.href = '/member/login.php'
    }

</script>
{template 'footer','member'}

