<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{$seo_title}{$DT['seo_title']}</title>
    <meta name="keywords" content="{$DT['seo_keywords']}">
    <meta name="description" content="{$DT['seo_description']}">
    <link rel="stylesheet" href="{DT_SKIN_TWO}css/font-awesome.min.css">
    <link rel="stylesheet" href="{DT_SKIN_TWO}css/style.css">
    <link rel="stylesheet" href="{DT_SKIN_TWO}css/validform.css">
    <script src="{DT_SKIN_TWO}js/jquery-1.11.1.min.js"></script>
    <script src="{DT_SKIN_TWO}js/lm.js"></script>
    <script src="{DT_SKIN}js/global.js"></script>
    <script src="{DT_SKIN_TWO}js/html5shiv.js"></script>
    <script src="{DT_SKIN_TWO}js/Validform_v5.3.2.js"></script>
    <!--[if lte IE 7]><script>window.location.href='http://cdn.dmeng.net/upgrade-your-browser.html?referrer='+location.href;</script><![endif]-->
    <!--[if IE 8]><script src="{DT_SKIN_TWO}js/html5shiv.js"></script><style type="text/css">.shadow {background: black;filter: alpha(opacity=60);}</style><![endif]-->

</head>
<script>
    var DTPath = "{$CFG['url']}";
</script>
<body>
<section class="usertop">
    <header class="clearfix">
        <img  class="userlogo fl"  src="{DT_SKIN_TWO}images/wycms/logo.png" alt="">
        <span class="fl topsane">{$two_nav_selected}</span>
        <span class="fr topphone"><img src="{DT_SKIN_TWO}images/wycms/userphone.png" />咨询热线：{$DT['telephone']}</span>
    </header>
</section>
