{template 'header','member'}
<section class="usercon">
    <div class="clearfix usercondiv">
        <form class="userconleft fl" id="loginform" style="margin-top:75px;">
            <p class="usercontitle">用户登录</p>
            <p class="userconp clearfix">
                <span class="fl userconpl" style="width:auto;">账号：</span>
                <span class="userconli fl">
                    <input type="text" placeholder="请输入邮箱/用户名" name="username" datatype="e|s3-15" errormsg="请输入邮箱/用户名">
                </span>
            </p>
            <p class="userconp clearfix">
                <span class="fl userconpl" style="width:auto;">密码：</span>
                <span class="userconli fl">
                    <input  type="password" placeholder="请输入登录密码" name="password" datatype="s6-20">
                </span>
            </p>
            <p class="userconp clearfix">
                <span class="fl userconpl" style="width:43px;"></span>
                <span class="userconli fl">
                    <input type="hidden" name="submit" value="1" />
                    <input type="hidden" name="forward" value="{$forward}" />
                    <input type="submit" class="userconbu redchu" value="马上登录"  />
                    <em class="clearfix" style="margin-top:5px;"><a class="forgetpaw" href="findpw.php">忘记密码？</a><a class="nowregister" href="register.php">还没注册账号,立即注册！</a></em>
                </span>
            </p>

        </form>
        <div class="userconright fr" style="margin-top:0px;margin-right:130px;">
            <img src="{DT_SKIN_TWO}images/wycms/wap.png" width="165px" height="165px;" />
        </div>
    </div>
</section>
<script src="{DT_SKIN}js/Validform_v5.3.2_min.js"></script>
<script type="text/javascript">
    $("#loginform").Validform({
        tiptype: 3,
        postonce:true,
        ajaxPost:true,
        beforeSubmit:function(curform){
            getToken();
            return true;
        },
        callback:function(data){
            if(data.status=='n'){
                alert(data.info);
            }else{
                window.setTimeout("locationhref('"+data.forward+"')",1000);
            }
        }
    })
    function locationhref(url){
        location.href = url;
    }
</script>
{template 'footer','member'}
