{template 'header2','member'}
<section class="m-c-main">
    <section class="home clearfix">
        {template 'left','member'}
        <section class="right-main fl">
            <section class="mh-evaluate mh-info">
                <h2 class="mh-title">我的预约 </h2>
            </section>
        </section>
        <div class="rightColumn" style="height:420px;">
            <div class="column">
                <div class="columnCont deManage">
                    <div style="display:block" class="showBox">
                        <table>
                            <tbody>
                            <tr>
                                <td width="120px" class="ti">申请金额</td>
                                <td width="150px" class="ti">申请期限</td>
                                <td width="100px" class="ti">抵押/担保</td>
                                <td width="290px" class="ti">需求描述</td>
                                <td width="140px" align="center" class="ti">预约时间</td>
                                <td width="80px" class="ti">状态</td>
                                <td width="50px" class="ti">操作</td>
                            </tr>
                            {if $aFood}
                            {loop $aFood $k $v}
                            <tr>
                                <td width="120px" class="ti">{$v['price']}</td>
                                <td width="150px" class="ti">{$v['month']}</td>
                                <td width="100px" class="ti" title="{$v['danbao']}">{dsubstr($v['danbao'],16,'...')}</td>
                                <td width="290px" class="ti" title="{$v['introduce']}">{dsubstr($v['introduce'],34,'...')}</td>
                                <td width="140px" align="center" class="ti">{date('Y-m-d H:i',$v['addtime'])}</td>
                                <td width="80px" class="ti">
                                    {if $v['status']==3}
                                        完成融资
                                    {elseif $v['status']==2}
                                        审核中
                                    {elseif $v['status']==1}
                                        拒绝融资
                                    {else}
                                        失效
                                    {/if}
                                </td>
                                <td width="50px" class="ti"><a href="?action=show&id={$v['itemid']}" class="blue" >查看</a></td>
                            </tr>
                            {/loop}
                            {/if}
                            </tbody>
                        </table>
                        {if $aFood}
                        <div class="pageIcons">
                            <div class="iconWrap">
                            </div>
                        </div>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<script src="{DT_SKIN}js/user-page.js"></script>
<script>
    $(function() {
        pager({$page}, {$totalpage}, 'iconWrap');
        $(".iconWrap a[pagenum]").each(function (k, v) {
            var url = '?page=' + $(this).attr('pagenum');
            $(this).attr('href', url);
        });
    })
</script>
{template 'footer','member'}