{template 'header2','member'}
<style>
    .showBox table td{border:1px solid #ccc;}
</style>

<section class="m-c-main">
    <section class="home clearfix">
        {template 'left','member'}
        <section class="right-main fl">
            <section class="mh-evaluate mh-info">
                <h2 class="mh-title">我的预约 </h2>
            </section>
        </section>
        <div class="rightColumn">
            <div class="column">
                <div class="columnCont deManage">
                    <div style="display:block" class="showBox">
                        <table style="width:100%">
                            <tbody>
                            <tr>
                                <td width="120px"  align="center">融资企业</td>
                                <td  colspan="5" class="ti">
                                    {if $aSell}
                                    <a href="/invest/show.php?id={$info['sell_itemid']}" target="_blank" class="blue" title="{$aSell['company']}">{$aSell['company']}</a>
                                    {else}
                                    失效
                                    {/if}
                                </td>
                            </tr>
                            <tr>
                                <td width="120px"  align="center">真实姓名</td><td   class="ti">{$info['title']}</td>
                                <td width="120px"  align="center">联系电话</td><td  class="ti">{$info['mobile']}</td>
                            </tr>
                            <tr>
                                <td width="120px"   align="center">申请期限</td><td  class="ti">{$info['month']}</td>
                                <td width="120px" align="center">申请金额</td><td   class="ti">{$info['price']}</td>
                            </tr>
                            <tr>
                                <td width="120px"   align="center">申请时间</td><td class="ti">{date('Y年m月d日 H时i分',$info['addtime'])}</td>
                                <td width="120px"  align="center">状态</td><td  class="ti">
                                {if $info['status']==3}
                                完成投资
                                {elseif $info['status']==2}
                                审核中
                                {elseif $info['status']==1}
                                拒绝投资
                                {else}
                                失效
                                {/if}
                            </td>
                            </tr>
                            </tbody>
                        </table>

                        <table style="width:100%;margin-top:50px;" id="logtable">
                            <tbody>
                            {if $aLog}
                            <tr>
                                <td width="200px" align="center">审核时间</td>
                                <td  align="center">预约进度</td>
                            </tr>
                            {loop $aLog $k $v}
                            <tr>
                                <td align="center">{date('Y-m-d H:i:s',$v['addtime'])}</td>
                                <td  class="ti">{$v['content']}</td>
                            </tr>
                            {/loop}
                            {else}
                            <tr>
                                <td align="center">暂无预约进度</td>
                            </tr>
                            {/if}
                            </tbody>
                        </table>
                        {if $aLog}
                        <div class="pageIcons">
                            <div class="iconWrap"></div>
                        </div>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<script src="{DT_SKIN}js/user-page.js"></script>
<script>
    $(function() {
        pager({$page}, {$totalpage}, 'iconWrap');
        $(".iconWrap a[pagenum]").each(function (k, v) {
            var url = '?action=show&id={$id}&page=' + $(this).attr('pagenum')+'#logtable';
            $(this).attr('href', url);
        });
    })
</script>
{template 'footer','member'}