{template 'header2','member'}
<section class="m-c-main">
    <section class="home clearfix">
        {template 'left','member'}
        <section class="right-main fl" style="height:400px;">
            <section class="mh-evaluate mh-info">
                <h2 class="mh-title">安全设置 </h2>
                <form id="from3email"  method="post" class="info-from3">
                    <div class="info-list clearfix">
                        <label class="name fl">旧密码 :</label>
                        <input type="password" name="oldpassword" placeholder="旧密码" datatype="*6-20" class="fl">
                    </div>
                    <div class="info-list clearfix">
                        <label class="name fl">新密码 :</label>
                        <input type="password" placeholder="新密码" name="password" datatype="*6-20,password" class="fl">
                    </div>
                    <div class="info-list clearfix">
                        <label class="name fl">确认密码 :</label>
                        <input type="password" placeholder="确认新密码" name="repassword" datatype="*" recheck="password" class="fl">
                    </div>
                    <input type="hidden" name="submit" value="1" />
                    <input num="5" type="submit" value="保存" class="info-sub white " style="border: none;background: #a6b8d2;padding: 1px 20px;border-radius: 3px;margin-left: 10px;cursor: pointer;font-size: 14px;margin-left:80px;line-height: 26px;">
                </form>
            </section>
        </section>
    </section>
</section>
<script src="{DT_SKIN}js/Validform_v5.3.2_min.js"></script>
<script>
    $(document).ready(function () {
        $('#from3email').Validform({
            tiptype: 3,
            datatype: {
                "password": function (gets, obj, curform, regxp) {
                    var oldpassword = $("input[name='oldpassword']").val();
                    if (oldpassword == gets) {
                        return '新密码不能与旧密码一致';
                    }
                    return true;
                }
            }
        });
    });
</script>
{template 'footer','member'}