{template  'header'}
<script>
    $(function(){
        $(".quanclick").mouseenter(function(){
            var index = $(this).index();
            var imageindex = parseInt(index)+3;
            $(this).parent().css('background-image','url({DT_SKIN_TWO}images/wycms/finance'+imageindex+'.jpg)');
        })

    })
    function reloadcaptcha() {
        $('#captchapng').attr("src",'{DT_PATH}api/captcha.png.php?action=image&refresh='+Math.random());

    }
</script>
<section class="group" style="background-color:#fff;position:relative;">
    <div  id="module1" class="g banner" style=" background: url({if $aAd}{$aAd['image_src']}{/if}) no-repeat center top;height:{$pAd['height']}px;"></div>
    <div  id="module2" class="" style=" background: url({DT_SKIN_TWO}images/wycms/finance2.jpg) no-repeat center top;height:450px;"></div>
    <div  id="module3" style=" background: url({DT_SKIN_TWO}images/wycms/finance3.jpg) no-repeat center top #7abef6;height:910px;position:relative;margin-top:70px;">
        <span class="quanclick" style="margin-top:179px;">&nbsp;</span>
        <span class="quanclick" style="margin-top:337px;">&nbsp;</span>
        <span class="quanclick" style="margin-top:492px;">&nbsp;</span>
        <span class="quanclick" style="margin-top:649px;">&nbsp;</span>
    </div>
    <div style=" background: url({DT_SKIN_TWO}images/wycms/finance7.jpg) no-repeat center top;height:565px;margin-top:60px;"></div>
    <div id="module4" style=" background: url({DT_SKIN_TWO}images/wycms/finance8.jpg) no-repeat center top;height:768px;margin-top:185px;position:relative;">
        <form class="financeform">
            <p class="financeform-title">融资申请单</p>
            <div class="clearfix inputdiv">
                <div class="fl">公司名称：<input type="text" datatype="*2-50" name="title"  nullmsg="请填写公司名称" errormsg="请填写正确公司名称" maxlength="50" /></div>
                <div class="fr">联系电话：<input type="text" datatype="mobile" name="mobile" nullmsg="请填写联系电话" errormsg="请填写正确联系电话" /></div>
            </div>
            <div class="clearfix inputdiv">
                <div class="fl">公司地址：<input type="text" name="address" datatype="*2-50" nullmsg="请填写公司地址" errormsg="请填写公司地址" maxlength="50" /></div>
                <div class="fr">
                    申请金额：<input type="text" maxlength="9" datatype="money" name="price" placeholder="请填写1万-1亿申请金额" nullmsg="请填写1万-1亿申请金额" errormsg="请填写申请金额" />
                </div>
            </div>
            <div class="clearfix inputdiv">
                <div class="fl">申请期限：<input type="text" name="month" datatype="*2-10" nullmsg="请填写申请期限" errormsg="请正确填写申请期限" maxlength="10" /></div>
                <div class="fr">
                    有无抵押或担保：<input type="text" name="danbao" style="width:206px;" datatype="*1-50" nullmsg="请填写抵押或担保情况" errormsg="请填写抵押或担保情况" />
                </div>
            </div>
            <div class="inputdiv clearfix textareadiv">
                <div class="fl ">需求描述：<textarea name="introduce" maxlength="200" datatype="*5-200" nullmsg="请输入不少于5个字的需求描述" errormsg="请输入不少于5个字的需求描述"></textarea></div>
            </div>
            <div class="inputdiv madiv clearfix">
                <div class="fl"  style="width:468px;text-align:left;" >&nbsp;&nbsp;&nbsp;验证码：<input type="text"  datatype="*4-4" maxlength="4" nullmsg="请输入验证码" errormsg="验证码错误" name="captcha" /><img src="{DT_PATH}api/captcha.png.php?action=image" title="验证码,看不清楚?请点击刷新&#10;字母不区分大小写" alt="" align="absmiddle" id="captchapng" onclick="reloadcaptcha();" style="width:115px;height:35px;margin-left:10px;cursor:pointer;"/><br /></div>
                <div class="fl" style="width:200px;"><input type="submit" style="width:190px;height:45px;background-color:#3e8dce;color:#fff;margin-left:38px;font-size:16px;" value="提交申请单" /></div>
            </div>

            <input type="hidden" name="submit" value="1" />
        </form>
    </div>
</section>
<script src="{DT_SKIN}js/Validform_v5.3.2_min.js"></script>
<link rel="styleSheet" href="{DT_SKIN}js/layer/skin/layer.css">
<script src="{DT_SKIN}js/layer/layer.js"></script>
<script type="text/javascript">
    $(".financeform").Validform({
        tiptype: 3,
        ajaxPost:true,
        datatype:{
            "mobile":function(gets,obj,curform,regxp){
                if(!is_mobile(gets) && !is_phone(gets)) return '输入错误';
                return true;
            },
            "money":function(gets,obj,curform,regxp){
                var sd = /^[1-9][0-9]{0,8}$/
                if(!sd.test(gets) || parseInt(gets)>100000000){
                    return false;
                }
                return true;
            }
        },
        beforeSubmit:function(curform){
            getToken();
            return true;
        },
        callback:function(data){
            if(data.status=='y'){
                layer.msg(data.info);
                $(".financeform")[0].reset();
                $("input[name='submit']").val(1);
                $(".Validform_checktip").remove();
                reloadcaptcha();

            }else if(data.status=='n'){
                layer.msg(data.info);
            }else if(data.status=='yn'){
                $("#captchapng").next().next().html('验证码错误').addClass('Validform_wrong').removeClass('Validform_right');
                $("#captchapng").val('');
                reloadcaptcha();
            }
        }
    })

</script>
{template  'footer'}