<div class="g banner about">
    <div class="container">
        <nav>
            <a href="{$CFG['url']}abouts/compintro.php" {if $two_nav_selected=='compintro'}class="cur"{/if}><span>公司介绍</span></a>
            <a href="{$CFG['url']}abouts/advantage.php" {if $two_nav_selected=='advantage'}class="cur"{/if}><span>行业优势</span></a>
            <a href="{$CFG['url']}abouts/new.php" {if $two_nav_selected=='new'}class="cur"{/if}><span>公司动态</span></a>
            <a href="{$CFG['url']}abouts/contact.php" {if $two_nav_selected=='contact'}class="cur"{/if}><span>联系我们</span></a>
            <a href="{$CFG['url']}abouts/joinus.php" {if $two_nav_selected=='joinus'}class="cur"{/if}><span>加入我们</span></a>
        </nav>
    </div>
</div>