<div class="g banner about">
    <div class="container">
        <nav>
            <a href="{$CFG['url']}about/compintro.html" {if $two_nav_selected=='compintro'}class="cur"{/if}><span>公司介绍</span></a>
            <a href="{$CFG['url']}about/advantage.html" {if $two_nav_selected=='advantage'}class="cur"{/if}><span>行业优势</span></a>
            <a href="{$CFG['url']}about/news.html" {if $two_nav_selected=='news'}class="cur"{/if}><span>公司动态</span></a>
            <a href="{$CFG['url']}about/contact.html" {if $two_nav_selected=='contact'}class="cur"{/if}><span>联系我们</span></a>
            <a href="{$CFG['url']}about/joinus.html" {if $two_nav_selected=='joinus'}class="cur"{/if}><span>加入我们</span></a>
        </nav>
    </div>
</div>