{template  'header'}
{template  'commontop','abouts'}
<div class="about-main common">
    <div class="container">
        <h3>薪酬福利主管(2015)</h3>
        <p>1、人力资源管理等相关专业本科以上学历，两年以上薪酬福利实务操作经验;
        </p>
        <p>2、必须有独立搭建薪酬体系经验(非符合条件者勿投);</p>
        <p>3、熟悉人事基础知识、国家劳动政策与薪酬相关的法律法规;</p>
        <p>4、具备良好的职业道德素养和沟通理解能力,仔细认真,踏实稳重;</p>
        <p>5、数字敏感度好，善于进行数据分析;</p>
        <p>6、熟练操作office相关办公软件;</p>
        <p>7、具有较强的团队合作精神。</p>
        <br>
        <p>联系人：020-32317947丘小姐，020-32317946朱小姐</p>
        <p>企业邮箱：hr@wayoulegal.com</p>
        <hr>
        <h3>产品规划师(2015)</h3>
        <p>岗位要求：</p>
        <p>1、本科及以上学历，具备8年以上互联网产品经验，有成功的产品规划案例;</p>
        <p>2、具有出色的产品规划能力，能够制定产品方向的中长期规划，并拆分为切实可行的项目进行实施;</p>
        <p>3、具有市场洞察力，能够触类旁通，积极发现问题、分析问题，勇于创新 ;</p>
        <p>4、有好的向上、横向、向下的沟通能力,有较强的组织协调能力和抗压能力;</p>
        <p>5、有成功的互联网平台产品规划经验，服务于阿里巴巴、腾讯等知名互联网公司者优先考虑。</p>
        <br>
        <p>联系人：020-32317947丘小姐，020-32317946朱小姐</p>
        <p>企业邮箱：hr@wayoulegal.com</p>
        <hr>
        <h3>IOS开发工程师(2015)</h3>
        <p>岗位要求：</p>
        <p>1、大专及以上学历,一年以上Objective C和Cocoa编程经验;</p>
        <p>2、熟悉iPhone SDK 开发环境及底层API调用;有iOS objective-C应用软件开发经验、熟悉Xcode;</p>
        <p>3、有成功发布过iPhone/iPad应用软件经历者优先;</p>
        <p>4、出色的调试技能及问题分析解决能力;</p>
        <p>5、具有良好的沟通能力、学习能力、团队合作精神、能承担工作压力。</p><br>
        <p>联系人：020-32317947丘小姐，020-32317946朱小姐</p>
        <p>企业邮箱：hr@wayoulegal.com</p>
        <hr>
        <h3>高级PHP工程师(2015)</h3>
        <p>岗位要求</p>
        <p>1、大专及以上学历，3年以上PHP开发经验，有大型网站工作经验者优先;</p>
        <p>2、熟悉 mysql，对数据库设计，性能优化有深刻体会;</p>
        <p>3、熟悉常见nosql的应用，有nosql在大型网站应用经验;</p>
        <p>4、能独立应付大访问量下网站的架构和开发工作;</p>
        <p>5、具有php、memcached等缓存技术的经验;</p>
        <p>6、熟悉linux系统，shell脚本，python脚本等优先。</p><br>
        <p>联系人：020-32317947丘小姐，020-32317946朱小姐</p>
        <p>企业邮箱：hr@wayoulegal.com</p>
    </div>
</div>
{template  'footer'}
