{template  'header'}
{template  'commontop','abouts'}
<div class="container school" style="margin-top:80px;">
    <div class="school-left details">
        <div class="big-article">
            <h2>
                <span style="color:#000;">{$info['title']}</span>
                <span class="info">发表于：{date('Y-m-d',$info['addtime'])}&nbsp;&nbsp;点击：{$info['hits']} 次</span>
            </h2>
            <p>{$info['content']}</p>
        </div>
        <div class="bdsharebuttonbox">
            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
            <a href="#" class="bds_more" data-cmd="more"></a>
        </div>
    </div>
    <div class="school-right">
        <h3>最新动态</h3>
        <ul class="article-hot">
            {if $aNewArticle}
            {loop $aNewArticle $k $v}
            <li><a href="show.php?id={$v['itemid']}" title="{$v['title']}">{$v['title']}</a></li>
            {/loop}
            {/if}
        </ul>

        <h3>热门动态</h3>
        <ul class="article-hot">
            {if $aHotArticle}
            {loop $aHotArticle $k $v}
            <li><a href="show.php?id={$v['itemid']}" title="{$v['title']}">{$v['title']}</a></li>
            {/loop}
            {/if}
        </ul>
    </div>
</div>
<script>
    window.onload = function() {
        /* 百度分享*/
        window._bd_share_config = {
            "common": {
                "bdSnsKey": {},
                "bdText": "",
                "bdMini": "2",
                "bdMiniList": false,
                "bdPic": "",
                "bdStyle": "0",
                "bdSize": "32"
            },
            "share": {},
            "image": {
                "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"],
                "viewText": "分享到：",
                "viewSize": "32"
            },
            "selectShare": {
                "bdContainerClass": null,
                "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]
            }
        };
        with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    }
</script>

{template  'footer'}

