@charset "UTF-8";

/*start : 2015.9.18 DomenLee*/

/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:华文细黑;
}

*:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none
}

/* clear iphone button style : 2015.9.21 DomenLee */

input {

    -webkit-appearance: none;

}

textarea {
    -webkit-appearance: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

body, input, textarea {
    font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, Lucida, Verdana, Arial, Helvetica, sans-serif;
}
body {
    font-size:62.5%;
    background-color:#f5f5f5;
    max-width:720px;
    margin:0 auto;
    position:relative;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* RESET END */

/* 自定义样式 */
.clear {
    zoom: 1;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
}

.Validform_checktip{
    margin-left:8px;
    line-height:20px;
    height:20px;
    overflow:hidden;
    color:#999;
    font-size:12px;
}
.Validform_right{
    color:#71b83d;
    padding-left:20px;
    background:url(../image/right.png) no-repeat left center;
}
.Validform_wrong{
    color:red;
    padding-left:20px;
    white-space:nowrap;
    background:url(../image/error.png) no-repeat left center;
}
.Validform_loading{
    padding-left:20px;
    background:url(../image/onLoad.gif) no-repeat left center;
}
.Validform_error{
    background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}
#Validform_msg * {display:none;}

#Dtop {
    background-color: #fff;
    border: 1px solid #125adc;
    box-shadow: 0 0 3px #0e48b0;
    padding: 10px;
}

#Dtop .dhead {
    background-color: #ccc;
}
#Dtop tr {height:30px;}
#remote {max-width:100%;width:100%;}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hide {
    display: none;
}

a {
    text-decoration: none;
    color: #666;
}

.tras-all {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
i {font-style:normal;}

/*end*/

/* 首页 */
#index-page {
    background-color:#fff;
    padding:15px 20px;
    color:#fff;
    position:relative;
}
.weblogo {width:58%;height:auto;min-width:180px;max-width:483px;}
#upthumb {width:200px;height:35px;opacity:0;}
#index-page .area {
    color:#fff;
    font-size:1.8em;
    padding-left:10px;
    position:relative;
    z-index:2;
}
#index-page .area i {margin-left:5px;}
#index-page h2 {
    font-size:2.2em;
    font-weight: normal;
    text-align: center;
    width:100%;
    position:absolute;
}

#index-page .user {text-align:right;color:#7abef6;position:absolute;right:20px;top:30%;}
#index-page .user a {font-size:1.8em;color:#7abef6;}
#index-page .user span {font-size:18px;}
#index {background-color:#ebebeb;}
.asdf {background-color:#ebebeb;padding:10px;}
#index .module {background: #fff;}
#index .module li{
    width:33.333333%;
    float:left;
    text-align:center;
    border-right:2px solid #ededed;
    border-bottom:2px solid #ededed;
    display:block;
}
.zhongimg {width:100%;height:auto;}
#index .module a{
    color:#000;
    padding-bottom:10px;
    display:block;

}
#index .module li.noboderright {
    border-right-color:#fff;
}
#index .module li.noboderbottom {
    border-bottom-color:#fff;
}
#index .module a img{
    max-width:65px;
    width:30%;
    height:auto;
}
#index .module a p {margin-top:20px;margin-bottom:5px;}
#index .module a span {font-size:1.6em;}

#index .article {padding:10px;background-color:#fff;}
#index .article .articleimgleft {
    width:50%;
    padding-right:5px;
}
#index .article .articleimgright {
    width:50%;
    padding-left:5px;
    display:block;
}
#index .article .articleimgleft img,#index .article .articleimgright img{
    width:100%;
    display:block;
    height:auto;
    line-height:2.2em;
}
#index .article .articlelist {
    margin-top:10px;
}
#index .article .articlelist article {
    padding-right:20px;
    overflow:hidden;
    height:2em;
}
#index .article .articlelist a {
    font-size:1.6em;
    line-height:1.6em;
    display:block;
    color:#1c1c1c;
}
#index .article .articlelist span {
    width:48px;
    font-size:1.6em;
    height:2em;
    color:#8f8f8f;
}
.more {text-align:right;margin-right:10px;font-size:1.4em;color:#373737;}
.more i {font-size:1.6em;}

#index .hotchannel {
    margin-top:10px;
    background-color:#fff;
}
.channelheader a{
    color:#bdbdbd;
    font-size:2em;
}
.channelheader img {
    vertical-align:top;
    margin-right:10px;
    margin-left:5px;
    width:20px;
    height:auto;
}
.channelheader {
    padding:15px 10px;
}
.channelheader span{
    font-size:2em;
}
#index .hotchannel ul li{
    float:left;
    width:25%;
    margin-bottom:5px;
}
#index .hotchannel ul li a {
    display:block;
    font-size:0px;
}
#index .hotchannel ul li img {
    width:100%;
    height:auto;
}
#index .foodpromote {
    margin-top:10px;
    background-color:#fff;
}
#index .foodpromote .foodpromoteul{
    border-top:1px solid #d1d1d1;
    padding:10px;
}
#index .foodpromote .foodleft {
    width:50%;
    padding-right:5px;
}
#index .foodpromote .foodleft a,#index .foodpromote .foodright a {
    font-size:0px;
}
#index .foodpromote .foodright {
     width:50%;
    padding-left:5px;
 }
#index .foodpromote .foodpromoteul img{
    width:100%;
    height:auto;
}
#index .foodpromote .foodpromoteul .foodright a.first {
    margin-bottom:10px;
    display:block;
}
#index .foodpromote .foodpromoteul .foodright a.last {
    margin-top:10px;
    display:block;
}
#index .schoolchannel {
    margin-top:10px;
    background-color:#fff;
}
#index  .schoolchannelul li{
    border-top:1px solid #d1d1d1;
    padding:20px 20px 10px 20px;
}
#index  .schoolchannelul li .schoola {
    width: 120px;
    display:block;
    float:left;
    font-size: 0px;
}
#index  .schoolchannelul li .schoolthumb {
    width: 100%;
    height: auto;
}
#index  .schoolchannelul li .schoolcontent {
    padding-left: 130px;
}
#index  .schoolchannelul li .schoolcontent  .title{
    font-size:1.6em;
    color:#000;
    height:1.6em;
    line-height:1.6em;
    overflow:hidden;
    display:block;
}
#index  .schoolchannelul li .schoolcontent .introduce {
    font-size:1.4em;
    color:#989898;
    height:4.2em;
    overflow: hidden;
    margin:5px 0px;
    line-height:1.4em;
}
#index  .schoolchannelul li .schoolcontent .handle img{
    vertical-align:middle;
    margin-right:10px;
    max-width:167px;
    width:32.4271%;
    min-width:100px;
}
#index  .schoolchannelul li .schoolcontent .handle{
    font-size:1.2em;
}
#index  .schoolchannelul li .schoolcontent .foodhandle{
    font-size:1.4em;
}

#index  .schoolchannelul li .schoolcontent i {
    font-size:1.2em;
    color:#ff8125;
}
.ids {
    width:100%;
    display:block;
    font-size:0px;
}
.ids img {
    width:100%;

    height:auto;
}
#index .foodchannel {
    background-color:#fff;
    margin-top:20px;
}

#footer .footerbutton {
    border-top:1px solid #d1d1d1;
    padding:30px 0px 10px 0px;
}
#footer .footerbutton span {
    width:50%;
}
#footer .footerbutton .fl img,#footer .footerbutton .fr img  {
    max-width:150px;
    width:70%;
    height:auto;
}
#footer .footerbutton .fl{
    text-align:right;
    padding-right:20px;
}
#footer .footerbutton .fr{
    text-align:left;
    padding-left:20px;
}
#footer .footerinfo {
    background-color:#f5f5f5;
    text-align:center;
}
#footer .footerinfo p{
    font-size:1.6em;
}
#footer .footerinfo i{
    padding:0px 5px;
}
#footer .footer{
    background-color:#fff;
}
#footer .footer a {
    width:25%;
    display:block;
    float:left;
    text-align:center;
}
#footer .footer a img{
    width:35%;
    min-width:80px;
    height:auto;
    max-width:100%;
    margin:0 auto;
}
.hornmtitle {font-size:1.6em;border-bottom:1px solid #e6e6e6;line-height:1.2em;padding-bottom:5px;margin:0px;margin-bottom:10px;}
.hornmtitle a {color:#000;font-size:1em;}
.hornmintroduce {font-size:1.2em;line-height:1em;margin:0px;line-height:1.6em;}
.hornmintroduce span {font-size:1em;}
#header1 {
    background-color:#fff;
    vertical-align:middle;
    padding:20px;
}
#header1 .forback{
    font-size:2em;
    color:#000;
    float:left;
}
#header1 .forback img {
    vertical-align:middle;
    margin-right:10px;
    width:12px;
    height:auto;
}
#header1 .headersearch{
     text-align:right;
 }
#header1 .headersearch .span1{
    margin-right:20px;
}
#header1 .headersearch img {
    width:22px;
    height:auto;
}
#header1 .searchkey{
    border:1px solid #fff;
    border-radius:8px;
    width:50%;
    height:30px;
    line-height:30px;
    background-color:#f5f5f5;
    vertical-align:middle;
    text-indent: 1em;
    margin-top:-15px;
}

/* 分类 */
.line {
    height:10px;
    display:block;
    background-color:#f5f5f5;
    border-bottom:1px solid #e6e6e6;
    border-top:1px solid #e6e6e6;
}
#categoryselect {
    background-color:#fff;
}
#categoryselect table {
    width:100%;
}
#categoryselect tr td {
    width:25%;
    line-height:3em;
    font-size:1.6em;
    border:1px solid #e6e6e6;
    text-align:center;
}
#categoryselect tr td a{
    display:block;
    color:#535353;
}
#areaselect {

    display:block;
    background-color:#fff;
    border-top:1px solid #e6e6e6;
}

#areaselect span{
    float:left;
    width:33.333333%;
    display:block;
    text-align:center;
    border-right:1px solid #f1f1f1;
    overflow: hidden;
    height:2em;
    padding:0px 5px;
    margin-top:2px;
    margin-bottom:2px;
    line-height:2em;
    font-size:1.6em;
    color:#ea5550;
    position:relative;

}
.imagedivjia {display:block;}
#areaselect span select {
    width:100%;
    position:absolute;
    font-size:1em;
    top:0px;
    left:0px;
    text-align:center;
    display:block;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
    height:2em;
    background-color:#fff;
    color:#6d6d6d;

}

#areaselect span a {
    width:100%;
    text-align:center;
    display:block;
    color:#ea5550;
    line-height:2em;
    height:2em;
}

.list .content{
    background:#fff;
}
.list .content:first-child{
    margin-top:0px;
}
.list .content .info {
    padding:20px;
    border-bottom:1px solid #dedede;

}
.list .content .info .thumb {
    float:left;
    width:120px;
    display:block;
    font-size:0px;
    height:90px;
}
.list .content .info .thumb img{
    width:100%;
    height:auto;
    max-height:100%;
}
.list .content .info .text{
    padding-left:130px;
}
.list .content .info .text .title {
    font-size: 1.8em;
    color: #000;
    max-height: 2.8em;
    line-height: 1.4em;
    overflow: hidden;
    display: block;
}
.list .content .info .text .introduce {
    font-size: 1.4em;
    height:2.8em;
    color: #666;
    overflow: hidden;
    margin:0px;

}
.numviesshow {margin:0px;color:#a0a0a0;}
.guanjjin {background-color:#bcdefa;color:#fff;padding:6px 10px;border-radius: 5px;margin-left:5px;}
.list .content .price1 {
    font-size: 1.4em;
    color: #ff8125;
}
.list .content .handle {
    color:#989898;
    font-size:1.8em;
    padding:10px 20px 20px 20px;
    border-bottom:1px solid #e1e1e1;
}
.list .content .handle {
    padding-top:20px;
}
.list .content .handle img {
    vertical-align:middle;
    margin-right:5px;
    width:1em;
    height:auto;
}
.list .content .handle .handle1 {
    margin-right:10px;

}
.list .content .showpng {
    width:25%;
    max-width:159px;
    font-size:0px;
    display:block;
}
.fdsfsdf {
    float:right;
}
.list .content .bigvote {
    width:70%;
    max-width:181px;
    font-size:0px;
    margin-right:10px;
    vertical-align: middle;
}

.list .content .showpng img {
    width:100%;
}
.hasbutton span{padding-top:10px;}
.readmore a{
    text-align:center;
    padding:20px 0px;
    display:block;
    color:#000;
    background-color:#dedede;
    font-size:1.6em;
}
/* 内容 */
#content .thumbinfo {
    width:100%;
    position:relative;
}
#content .thumbinfo img {
    width:100%;
    height:auto;
    min-height:7em;
}
#content .thumbinfo .apla {
    position:absolute;
    bottom:0px;
    background-color:#000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
    padding-top:10px;
}
#content .thumbinfo .apla span{
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;
}
#content .thumbinfo .aplainfo {
    position:absolute;
    bottom:3px;
    margin:0px;
    padding-bottom:10px;
    width:100%;
}

#content .thumbinfo .title {
    font-size:2em;
    padding:0 20px;
    color:#fff;
    width:100%;
    display:block;
    text-align:center;
}
#content .thumbinfo .introduce {
    font-size:1.6em;
    color:#fff;
    line-height:1.2em;
    height:1.2em;
    overflow:hidden;
    padding:0 20px;
    width:100%;
    display:block;
}
.de0000{
    color:#de0000;
}
#content .info {
    font-size:1em;
    padding:0px 20px;
    line-height:3em;
    background-color:#fff;
    color:#dedede;
}
#content .handle {
    position:relative;
    padding:20px;
    font-size:2em;
    background-color:#fff;
}
.numsview {width:100%;display:block;text-align:right;font-size:0.5em;line-height:0.5em;padding-top:5px;color:#939393;}
.numsview img {vertical-align: middle;}
.numsview img.likethujmsd {width:12px;height:auto;}
.huiyui {font-size:1em;line-height:1em;padding-top:5px;color:#939393;}
.numviesshow {margin-top:5px;}
.numsviews {float:right;font-size:1em;line-height:1em;color:#939393;}
.numtimes {color:#939393;font-size:1.1em;line-height:1.4em;}
.numsviews img {vertical-align: middle;}
.numsviews img.likethujmsd {width:12px;height:auto;}
.thumbinfo1 {
    padding:20px;
    border-top:1px solid #e6e6e6;
    background-color:#fff;
}
.thumbinfo1 p {
    margin:0px;
    font-size:2em;
    color:#000;
    line-height:1em;
}
.thumbinfo1 img {
    width:100% !important;
    height:auto !important;

}

.jobtable {width:100%;background-color:#fff;}
.jobtable th {background-color:#ffeeee;line-height:2.8em;color:#6d6d6d;font-weight: normal;font-size:1.4em;}
.jobtable td {font-size:1.4em;line-height:2em;color:#6d6d6d;border-bottom:1px solid #e6e6e6;padding:5px;}
.jobtable td a {
    display:block;
}
.lnfh {color:#ff6600;}
.lidiv .introudce {  width: 100%;
    line-height: 1.6em;
    color: #4e4d4d;
    font-size: 1.6em;
    height:3.2em;
    overflow: hidden;
    padding: 5px 10px;
    display: block;
    color: #818181;
}
.fndklf {padding:0px 10px;color:#818181;}
#content .handle .center{
    position:absolute;
    width:100%;
    left:0px;
    text-align:center;
}
#content .handle img {
    vertical-align:middle;margin-right:5px;
    width:20px;
    height:auto;
}
#content .shop {
    background-color:#fff;
}
#content .header{
    font-size:2em;
    color:#939393;
    padding:15px;
    border-bottom:1px solid #e6e6e6;
}
#content .shopinfo{
    color:#939393;
    padding:20px 20px 10px 20px;
}

#content .shopinfo .shopndl {
    padding-right:64px;
}
#content .shopinfo .shopndl span {
    display:block;
    padding-right:10px;
}
#content .shopinfo .shopndl .ndl{
    font-size:2em;
    color:#000;
}
#content .shopinfo .shopndl .fasdf{
    font-size:1.8em;
    color:#939393;
    margin-top:10px;
}

#content .shopinfo .phone {
    margin:20px 0px;
    padding:0em 0px 0em 20px;
    display:block;
    height:auto;
    border-left:1px solid #e6e6e6;
    width:50px;
    height:auto;
}
#content .comment{
    background-color:#fff6f6;
    padding:20px 0px 0px 0px;

}
.codetishi {padding-right:4%;text-align:right;color:#333333;font-size:1.4em;line-height:2.4em;}
.codetishicode {color:#ff0000;}
#content .comment .buttonlist {
    text-align:center;
}
#content .comment .buttonlist span {
    width:33.3333%;
    display:block;
    float:left;
}
#content .comment .buttonlist span img{
    max-width:180px;
    width:85%;
    height:auto;
}
#content .comment_view {
    border-top:1px solid #e6e6e6;
    padding:20px;
    display:block;
    color:#ff8125;
    font-size:2em;

}
#content .comment_view img {
    vertical-align: middle;
    width:12px;
    height:auto;
}
#content .view {
    background-color:#fff;
}
#content .viewinfo {
    padding:20px;
    overflow:hidden;
    font-size:1.4em;
}
#content .viewinfo img {
    max-width:100% !important;
    height:auto !important;
    margin-bottom:5px !important;
}
.contentlist .channelheader{
    background-color:#fff;
}
#footer1 {
    padding:30px 0px;
    background-color:#fff;
    text-align:center;
}
#footer1 img {
    width:30%;
    max-width:120px;
    height:auto;
}
.schoolname {
    text-align:center;
    font-size:3.4em;
}
#categoryselect tr td a.active {
    background-color:#e9544e;
    color:#fff;
}
a img {font-size:0px;}
.commentlist {
    background-color:#fff;
}
.commentlist .comlist {
    border-top:1px solid #f1f1f1;
    padding:20px;
}
.commentlist .comlistp {
    height:60px;
    width:60px;
}
.commentlist .comimage {
    display:block;
    width:60px;
    height:60px;
}
.commentlist .cominfo {
    padding-left:70px;
    width:200px;
}
.commentlist .comname {
    font-size:2em;
    color:#000;

    margin:0px;
}
.commentlist .comtime {
    font-size:1.8em;
    margin:10px 0px 0px 0px;
    color:#989898;
}
.commentlist .commentcon {
    margin-top:15px;
    font-size:1.4em;
    line-height:1.4em;
}

.comul {
    width:100%;
    background-color:#f5f5f5;
    padding:10px 5px 0px 5px;

}
.comul li {
    width:50%;
    float:left;
    padding:0px 5px 0px 5px;
    margin-bottom:10px;
}
.comul li .lidiv {
    background-color:#fff;
    width:100%;
}
.comul li .lidiv .schoola {
    width:100%;
    display:block;
    position:relative;
    height:0px;
    padding:0px 0px 75%;
}
.comul li .lidiv .schoola img {
    width:100%;
    height:100%;
    font-size:10px;
    position:absolute;
}
.comul li .lidiv .schoola span {
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    text-align:center;
    height:1.6em;
    font-size:1.4em;
    color:#fff;
    line-height:1.6em;
    overflow: hidden;
}
.comul li .lidiv .schoola .hiddensl {
    background-color: #000;
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    opacity: 0.2;
}
.comul li .lidiv .title {
    width:100%;
    line-height:1.8em;
    color:#4e4d4d;
    font-size:1.6em;
    height:2em;
    overflow:hidden;
    padding:5px 10px;
    display:block;
    color:#818181;
}
.userleft {position:absolute;top:15px;left:15px;width:20px;height:auto;}

.comul li .lidiv .handle {
    margin-top:0px;
    padding:0px 10px 5px 10px;
    margin-bottom:0px;
}
.comul li .lidiv .handle .votes{
    float:left;
    width:50%;
    max-width:100px;
    vertical-align: middle;

}
.comul li .lidiv .handle .num{
    float:right;
    color:#ff8125;
    font-size:1.2em;
    line-height:1.2em;
    height:1.2em;
    margin-top:5px;

}
.comul li .lidiv .handle .pricesdf {float:left;font-size:1.6em;line-height:1.6em;height:1.6em;color:#ff8125;}
.publishform {padding:20px;}
#publishform .h3h {font-size:2em;color:#737373;margin-bottom:20px;}
#publishform .publishleft {color:#000;width:72px;font-size:1.8em;text-align:right;float:left;display:block;}
#publishform .publishright {padding-left:80px;width:95%;display:block;color:#000;font-size:1.6em;}
#publishform .publishtype {display:block;width:100%;}
#publishform .publishtype a{padding:5px 10px;background-color:#fff;border:1px solid #f1f1f1;float:left;margin-right:10px;margin-bottom:5px;}
#publishform .red {color:#f50000;}

#publishform .input-text {width:100%;line-height:2em;height:2em;border:1px solid #ccc;border-radius: 3px;max-width:400px;}
#publishform select.input-text {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;appearance:none;-webkit-appearance:none;outline:none;font-family:"Microsoft YaHei";font-size:0.8em;color:#313131;line-height:1.4em;height:2.8em;}
#publishform .publishtype a.active {background-color:#f50000;color:#fff;}
#publishform .smallinput {width:100px;max-width:100%;}
#publishform .textinput {height:100px;}
#publishform p{margin:5px 0px 0px 0px;}
#publishform select {margin-bottom:5px;background-color:#fff;color:#000;}

.hornmembershow {
    background-color:#fff;
    text-align:center;
    font-size:1.6em;
    line-height:2em;
    color:#4a4949;
}
.hornmembershow span{
    color:#f85049;
    font-size:1em;
}
.horntoptitle {
    text-align:center;
    font-size:1.1em;
    color:#000;
    padding:20px 0px;
}
.guangli table {width:100%;text-align:center;}
.guangli table td {border-top:1px solid #e6e6e6;}
.guangli a{display:block;font-size:1.2em;line-height:2.6em;color:#000;}
.guangli img {vertical-align: middle;margin-right:3px;margin-top: -2px}

.footerfix {position:fixed; bottom:0;left:0px; z-index:999;width:100%;}

#publishform .imagemodule {margin-bottom:0px;padding-top:0px;padding-left:20px;}
#publishform .imagedivjia .imagspe {position:relative;display:block;float:left;margin-right:5px;}
#publishform .remove {position:absolute;top:50%;left:50%;margin-top:-3px;margin-left:-7px;width:15px;height:3px;}
#publishform #choose {position:absolute;top:0px;left:0px;width:80px;height:66px;opacity: 0}
#gundong {position:fixed;top:50%;text-align:center;width:100%;margin-top:-16px;display:none;}
#publishform .jiaimage {width:80px;height:66px;border:1px solid #f5f5f5;}
#publishform .input-text {line-height:2.4em;height:2.4em;margin-top:-2px;text-indent: 0.5em;}
#publishform .textinput {height:100px;}

#publishform .publishnew {width:120px;padding-right:5px;line-height:1.8em;font-size:1.8em;}
#publishform .publishnew img {vertical-align: middle;margin-right:5px;width:20px;height:auto;}
#publishform .publishrightnew {padding-left:120px;}
#publishform p{background-color:#fff;padding:20px 10px 0px 10px;margin:0px 0px 20px 0px;border-top:1px solid #b9b9b9;border-bottom:1px solid #b9b9b9;}
#publishform .quepublish {background:#ea5550;border:1px solid #f1f1f1;color:#fff;padding:10px 25px;border-radius:5px;margin-top:10px;font-size:1.4em;  }
#publishform .btn-box {text-align: center;}
#publishform .Validform_checktip {font-size:12px;line-height:12px;height:12px;}
.publishformfdfd {padding:0px;margin-bottom:40px;}
#publishform #editor_paste_tip {display:none;}

#publishform .btn-box .publishleftyulan,#publishform .btn-box .publishleftsure{width:50%;display:block;}
#publishform .btn-box .publishleftyulan input,#publishform .btn-box .publishleftsure input{
    width:70%;
    height:auto;
    min-width:100px;
    max-width:150px;
}



#roll-banner {
    width: 100%;
}
.slider li {
    float: left;
}
.sliderBox {
    position: relative;
    overflow: hidden;
}
#roll-banner img {
    min-width: 100%;
    max-width: 100%;
    display: block;
}
.slider {
    position: absolute;
    left: 0;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.zhongtitle {
    color:#7abef6;
    font-size:2.4em;
    line-height:2.4em;
    text-align:center;
    height:2.4em;
    margin:0px;
    border-bottom:1px solid #7abef6;
    background-color:#fff;
}
.rongzibtn {
    display:block;
    margin:0 auto;
    color:#fff;
    width:30%;
    min-width:100px;
    padding:20px 0px;

}
.rongzibtn img {
    width:100%;
    height:auto;
}
.daitable {width:100%;}
.daitable tr{color:#000;}
.daitable tr img {vertical-align: middle;}
.daitable tr.daibgth {background-color:#7abef6;line-height:2.2em;font-size:1.8em;color:#fff;}
.daibg0 {background-color:#e8f5ff;line-height:2.6em;font-size:1.6em;}
.daibg1 {background-color:#d3ebff;line-height:2.6em;font-size:1.6em;}
.daiicon {margin:0px 5px;width:20px;}
.aboutsnav {
    width:100%;
    background-color:#fff;
    margin-bottom:10px;
}
.aboutsnav a{width:25%;text-align:center;color:#000;font-size:1.6em;line-height:2.4em;display:block;float:left;border-right:1px solid #ebebeb;background-color:#fff;}
.aboutsnav a.cur {color:#7abef6;border-bottom:2px solid #7abef6;}
.aboutscon {background-color:#fff;margin-bottom:10px;}
img {vertical-align:middle;}
.aboutscon img {max-width:100% !important;height:auto !important;}
.contactsus {background-color:#fff;font-size:1.6em;line-height:2em;margin-bottom:10px;}
.concon {padding:0px 20px 20px 20px;}
.concon p{margin:0px;padding:0px;}
.contactsus .aboutstitle {font-size:1.2em;line-height:3rem;height:3rem;border-bottom:1px solid #ebebeb;padding-left:20px;}
.conmobile span{margin-right:10px;}
.imagecon {
    text-align:center;
}
.imagecon img {
    max-width:100%;
    height:auto;
}

#financeform {background-color:#7abef6;color:#fff;padding:10px 0px 30px 0px;margin-top:10px;}
#financeform p {margin:0px;}
#financeform .title {text-align:center;font-size:2em;line-height:2em;border-bottom:1px solid #f1f1f1;margin-bottom:20px;}
#financeform .finformleft {float:left;font-size:1.8em;line-height:2.4em;}
#financeform .finformright {padding-left:90px;width:100%;display:block;}
#financeform .finformright input {text-indent: 5px;}
#financeform .Validform_wrong {color:#fff;}
#financeform .Validform_right {color:#7abef6 !important;}
#financeform .finformright input,#financeform .finformright textarea {width:100%;border:0px;background-color:#fff;padding:0.7em 0px;font-size:1.4em;margin-top:0.3em;}
#financeform .diyadanbao .finformright {padding-left:145px;}
#financeform .finformright textarea {height:6em;padding:0px;}
#financeform .Validform_checktip {
    text-align: left;
    padding: 0px;
}