{template  'header'}
<script>
    $(function(){
        $(".quanclick").mouseenter(function(){
            var index = $(this).index();
            var imageindex = parseInt(index)+3;
            $(this).parent().css('background-image','url({DT_SKIN_TWO}images/wycms/finance'+imageindex+'.jpg)');
        })

    })
    function reloadcaptcha() {
        $('#captchapng').attr("src",'{DT_PATH}api/captcha.png.php?action=image&refresh='+Math.random());

    }
</script>
<section class="group" style="background-color:#fff;position:relative;">
    <div  id="module1" class="g banner" style=" background: url({DT_SKIN_TWO}images/wycms/invest1.jpg) no-repeat center top;height:492px;"></div>
    <div  id="module2" class="" style=" background: url({DT_SKIN_TWO}images/wycms/invest2.jpg) no-repeat center top;height:450px;"></div>
    <div  id="module2" class="" style=" background: url({DT_SKIN_TWO}images/wycms/invest3.jpg) no-repeat center top;height:450px;"></div>
    <div  id="module3" style=" background: url({DT_SKIN_TWO}images/wycms/invest4.jpg) no-repeat center top;height:910px;position:relative;margin-top:70px;">
        <span class="quanclick" style="margin-top:179px;">&nbsp;</span>
        <span class="quanclick" style="margin-top:337px;">&nbsp;</span>
        <span class="quanclick" style="margin-top:492px;">&nbsp;</span>
        <span class="quanclick" style="margin-top:649px;">&nbsp;</span>
    </div>
    <div style=" background: url({DT_SKIN_TWO}images/wycms/finance8.jpg) no-repeat center top;height:565px;margin-top:60px;"></div>
    <div style=" background: url({DT_SKIN_TWO}images/wycms/finance9.jpg) no-repeat center top;height:565px;margin-top:60px;"></div>

</section>
{template  'footer'}