{template  'header'}
<script>
    $(function(){
        $(".investclick").mouseenter(function(){
            var index = $(this).index();
            var imageindex = parseInt(index)+4;
            $(this).parent().css('background-image','url({DT_SKIN_TWO}images/wycms/invest'+imageindex+'.jpg)');
        })

    })
</script>
<section class="group" style="background-color:#fff;position:relative;">
    <div  id="module1" class="g banner" style=" background: url({DT_SKIN_TWO}images/wycms/invest0.jpg) no-repeat center top;height:401px;"></div>
    <div   class="" style=" background: url({DT_SKIN_TWO}images/wycms/invest01.jpg) no-repeat center top;height:216px;margin:60px 0px 40px 0px;"></div>
    <div   class="" style=" background: url({DT_SKIN_TWO}images/wycms/invset1.jpg) no-repeat center top;height:868px;position:relative;">
        <div class="modumoney1">已为投资人赚取<span style="color:#7abef6;">{$DT['invest_money']}</span>元</div>
        <img src="{DT_SKIN_TWO}images/wycms/indexmodu5button1.png" onclick="location.href = '{$CFG[url]}invest/index.php#module1'" class="indexmodu5button1" />
    </div>



    <p style="font-size:30px;color:#3f3f3f;margin-top:45px;">业绩：从开展业务到目前</p>
    <div class="container">
        <div class=" clearfix investyezhi">
            <div class="yezhileft yezhileft1">
                <p class="yezhititle">累计为投资人赚取利息</p>
                <p class="zezhinum">{$DT['invest_rate']}</p>
                <p class="zezhidan">( 万元 )</p>
            </div>
            <div class="yezhileft yezhileft2">
                <p class="yezhititle">累计投资额</p>
                <p class="zezhinum">{$DT['invest_all_money']}</p>
                <p class="zezhidan">( 万元 )</p>
            </div>
            <div class="yezhileft yezhileft3">
                <p class="yezhititle">累计投资人数达</p>
                <p class="zezhinum">{$DT['invest_users']}</p>
                <p class="zezhidan">( 人 )</p>
            </div>
        </div>
    </div>
    <div class="" style=" background: url({DT_SKIN_TWO}images/wycms/invest3.jpg) no-repeat center top;height:681px;"></div>
    <div  id="module2" style=" background: url({DT_SKIN_TWO}images/wycms/invest4.jpg) no-repeat center top #7abef6;height:851px;position:relative">
        <span class="investclick" style="margin-left:-421px;">&nbsp;</span>
        <span class="investclick" style="margin-left:-215px;">&nbsp;</span>
        <span class="investclick" style="margin-left:-9px;">&nbsp;</span>
        <span class="investclick" style="margin-left:197px;">&nbsp;</span>
    </div>
    <div id="module3" style=" background: url({DT_SKIN_TWO}images/wycms/invest8.jpg) no-repeat center top;height:650px;margin-top:70px"></div>
    <div id="module4" style=" background: url({DT_SKIN_TWO}images/wycms/invest9.jpg) no-repeat center top;height:772px;margin-top:105px;"></div>

</section>
{template  'footer'}