{template  'header'}
<section class="group" style="background-color:#fff;position:relative;">
    <div  id="module1" class="g banner" style=" background: url({DT_SKIN_TWO}images/wycms/article1.jpg) no-repeat center top;height:402px;"></div>
</section>
    <div class="container school">
    <div class="school-left">
        <article>
            <a href="show.php?itemid=1" class="img-box"><img src="http://www.lawyermarketing.cn/uploadfile/2015/0401/20150401063421600.jpg" alt="">
            </a>
            <h3><a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">新律师开拓案源的26种方法</a></h3>
            <span class="info">发表于：2015-06-12</span>
            <p>这是我从业律师以来总结出的开拓案源的方法，现在无私的贡献出来给热爱律师职业的各位同仁！！！也......</p>
                <span class="info">关键词： <a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">
                    <mark>律师 案源</mark>
                </a></span>
        </article>
        <article>
            <a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html" class="img-box"><img src="http://www.lawyermarketing.cn/uploadfile/2015/0401/20150401063421600.jpg" alt="">
            </a>
            <h3><a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">新律师开拓案源的26种方法</a></h3>
            <span class="info">发表于：2015-06-12</span>
            <p>这是我从业律师以来总结出的开拓案源的方法，现在无私的贡献出来给热爱律师职业的各位同仁！！！也......</p>
                <span class="info">关键词： <a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">
                    <mark>律师 案源</mark>
                </a></span>
        </article>
        <article>
            <a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html" class="img-box"><img src="http://www.lawyermarketing.cn/uploadfile/2015/0401/20150401063421600.jpg" alt="">
            </a>
            <h3><a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">新律师开拓案源的26种方法</a></h3>
            <span class="info">发表于：2015-06-12</span>
            <p>这是我从业律师以来总结出的开拓案源的方法，现在无私的贡献出来给热爱律师职业的各位同仁！！！也......</p>
                <span class="info">关键词： <a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">
                    <mark>律师 案源</mark>
                </a></span>
        </article>
        <article>
            <a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html" class="img-box"><img src="http://www.lawyermarketing.cn/uploadfile/2015/0401/20150401063421600.jpg" alt="">
            </a>
            <h3><a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">新律师开拓案源的26种方法</a></h3>
            <span class="info">发表于：2015-06-12</span>
            <p>这是我从业律师以来总结出的开拓案源的方法，现在无私的贡献出来给热爱律师职业的各位同仁！！！也......</p>
                <span class="info">关键词： <a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">
                    <mark>律师 案源</mark>
                </a></span>
        </article>
        <article>
            <a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html" class="img-box"><img src="http://www.lawyermarketing.cn/uploadfile/2015/0401/20150401063421600.jpg" alt="">
            </a>
            <h3><a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">新律师开拓案源的26种方法</a></h3>
            <span class="info">发表于：2015-06-12</span>
            <p>这是我从业律师以来总结出的开拓案源的方法，现在无私的贡献出来给热爱律师职业的各位同仁！！！也......</p>
                <span class="info">关键词： <a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">
                    <mark>律师 案源</mark>
                </a></span>
        </article>
        <article>
            <a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html" class="img-box"><img src="http://www.lawyermarketing.cn/uploadfile/2015/0401/20150401063421600.jpg" alt="">
            </a>
            <h3><a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">新律师开拓案源的26种方法</a></h3>
            <span class="info">发表于：2015-06-12</span>
            <p>这是我从业律师以来总结出的开拓案源的方法，现在无私的贡献出来给热爱律师职业的各位同仁！！！也......</p>
                <span class="info">关键词： <a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">
                    <mark>律师 案源</mark>
                </a></span>
        </article>
        <article>
            <a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html" class="img-box"><img src="http://www.lawyermarketing.cn/uploadfile/2015/0401/20150401063421600.jpg" alt="">
            </a>
            <h3><a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">新律师开拓案源的26种方法</a></h3>
            <span class="info">发表于：2015-06-12</span>
            <p>这是我从业律师以来总结出的开拓案源的方法，现在无私的贡献出来给热爱律师职业的各位同仁！！！也......</p>
                <span class="info">关键词： <a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">
                    <mark>律师 案源</mark>
                </a></span>
        </article>
        <article>
            <a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html" class="img-box"><img src="http://www.lawyermarketing.cn/uploadfile/2015/0401/20150401063421600.jpg" alt="">
            </a>
            <h3><a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">新律师开拓案源的26种方法</a></h3>
            <span class="info">发表于：2015-06-12</span>
            <p>这是我从业律师以来总结出的开拓案源的方法，现在无私的贡献出来给热爱律师职业的各位同仁！！！也......</p>
                <span class="info">关键词： <a href="http://www.lawyermarketing.cn/2015/ppsz_0612/631.html">
                    <mark>律师 案源</mark>
                </a></span>
        </article>
        <div class="page-box" style="clear:both;margin-bottom:35px;margin-top:40px;">
            <ul class="pager"></ul>
        </div>
    </div>
    <div class="school-right">
        <div class="search">
            <form action="http://www.lawyermarketing.cn/index.php" id="searchform" method="get" target="_blank">
                <input type="text" name="q" id="q" placeholder="输入关键词搜索文章内容">
                <button type="submit" value="" id="submitbtn"><i class="fa fa-search"></i></button>
                <input type="hidden" name="m" value="search"/>
                <input type="hidden" name="c" value="index"/>
                <input type="hidden" name="a" value="init"/>
                <input type="hidden" name="typeid" value="" id="typeid"/>
                <input type="hidden" name="siteid" value="1" id="siteid"/>
            </form>
        </div>
        <script type="text/javascript">
            $(function(){
                $("#submitbtn").click(function(){
                    if ($("#q").val()=='') {
                        alert('请输入搜索关键字');
                        return false;
                    } else {
                        $("#searchform").submit();
                    }
                });
            });
        </script>

        <div class="school-right-accordion">

            <dl class="cur">

                <dd><a href="http://www.lawyermarketing.cn/school/yxzk/ppsz/">品牌塑造</a>
                </dd>
                <dd><a href="http://www.lawyermarketing.cn/school/yxzk/szal/">诊断分析</a>
                </dd>
                <dd><a href="http://www.lawyermarketing.cn/school/yxzk/zdfx/">SEO优化</a>
                </dd>
                <dd><a href="http://www.lawyermarketing.cn/school/yxzk/yxtg/">视频课堂</a>
                </dd>
                <dd><a href="http://www.lawyermarketing.cn/school/yxzk/seoyh/">实战案例</a>
                </dd>
                <dd><a href="http://www.lawyermarketing.cn/school/yxzk/sjty/">营销推广</a>
                </dd>
                <dd><a href="http://www.lawyermarketing.cn/school/yxzk/spkt/">视觉体验</a>
                </dd>
                <dd><a href="http://www.lawyermarketing.cn/school/yxzk/cjwt/">合作常见问题</a>
                </dd>
            </dl>
        </div>

        <h3>热门标签</h3>
        <div class="tags-box" id="tags-box">
            <a href="javascript:void(0)">律师 职业</a>                                                                                <a href="javascript:void(0)">微信 文章 配图</a>                                                                                <a href="javascript:void(0)">律师 办案</a>                                                                                <a href="javascript:void(0)">法律顾问 案例 工具</a>                                                                                <a href="javascript:void(0)">青年律师 职业</a>                                                                                <a href="javascript:void(0)">律师 案件 当事人</a>                                                                                <a href="javascript:void(0)">律师 案源</a>                                                                                <a href="javascript:void(0)">互联网 律师</a>                                                </div>
        <h3>热门资讯</h3>
        <ul class="article-hot">

            <li><a href="show.php?itemid=1" target="_blank">微信营销：律师微信公众号如何有效</a></li>
            <li><a href="http://www.lawyermarketing.cn/2013/yxtg_1204/476.html" target="_blank">形象决定案源  10个细节毁掉你的</a></li>
            <li><a href="http://www.lawyermarketing.cn/2014/szal_0117/493.html" target="_blank">祝贺上海谭芳律师品牌形象站正式上</a></li>
            <li><a href="http://www.lawyermarketing.cn/2013/szal_0719/341.html" target="_blank">建站仅3月 案源自动找上门</a></li>
            <li><a href="http://www.lawyermarketing.cn/2014/yxtg_0422/520.html" target="_blank">形象决定案源 10个细节毁掉你的律</a></li>
            <li><a href="http://www.lawyermarketing.cn/2013/szal_0719/340.html" target="_blank">18年资深大律师利用网络突破案源瓶颈</a></li>
            <li><a href="http://www.lawyermarketing.cn/2013/szal_1121/465.html" target="_blank">北京郭淼律师正义团队刑辩网成功上</a></li>
            <li><a href="http://www.lawyermarketing.cn/2013/seoyh_0227/248.html" target="_blank">律师网站选择&ldquo;长尾关键词&rdquo;优化的</a></li>
        </ul>
        <div class="qr-code">
            <img src="{DT_SKIN_TWO}images/wycms/wap.png" alt="">
            <p>微信公众平台：搜索“<span>律师营销网</span>” 或<span>扫描二维码</span>
            </p>
        </div>
    </div>
</div>

<script src="{DT_SKIN}js/pager.js"></script>
<script>
    pager(1,20,'pager');
    $(".pager li").click(function(){
        var pagenum = $(this).attr('pagenum');
        if(typeof(pagenum)!='undefined'){
            location.href = '/article/list.php?catid={$catid}&page='+pagenum;
        }
    })
</script>
{template  'footer'}

