{template  'header'}
<section class="group" style="background-color:#fff;position:relative;">
    <div  id="module1" class="g banner" style=" background: url({if $aAd}{$aAd['image_src']}{/if}) no-repeat center top;height:{$pAd['height']}px;"></div>
</section>
    <div class="container school">
    <div class="school-left">
        {if $aArticle}
        {loop $aArticle $k $v}
        <article>
            <a href="show.php?id={$v['itemid']}" class="img-box" title="{$v['title']}"><img src="{if $v['thumb'] && file_exists(str_replace($CFG['url'],DT_ROOT.'/',$v['thumb']))}{$v['thumb']}{else}{DT_SKIN_TWO}images/wycms/default.jpg{/if}" alt=""></a>
            <h3><a href="show.php?id={$v['itemid']}" title="{$v['title']}">{$v['title']}</a></h3>
            <span class="info">发表于：{date('Y-m-d',$v['addtime'])}</span>
            <p>{$v['introduce']}</p>
                <span class="info">关键词：
                    <a href="index.php?arkey={$v['keyword']}">
                        <mark>{$v['keyword']}</mark>
                    </a>
                </span>
        </article>
        {/loop}
        <div class="page-box" style="clear:both;margin-bottom:35px;margin-top:40px;">
            <ul class="pager"></ul>
        </div>
        {/if}

    </div>
        {template  'right','article'}
</div>

<script src="{DT_SKIN}js/pager.js"></script>
<script>
    pager({$page},{$totalpage},'pager');
    $(".pager li").click(function(){
        var pagenum = $(this).attr('pagenum');
        if(typeof(pagenum)!='undefined'){
            location.href = 'index.php?arkey={$arkey}&page='+pagenum;
        }
    })
</script>
{template  'footer'}

