{template  'header'}
<section class="group" style="background-color:#fff;position:relative;">
    <div  id="module1" class="g banner" style=" background: url({DT_SKIN_TWO}images/wycms/article1.jpg) no-repeat center top;height:402px;"></div>
</section>
<div class="container school">
    <div class="school-left details">
        <div class="big-article">
            <h2>
                <span style="color:#000;">{$info['title']}</span>
                <span class="info">发表于：{date('Y-m-d',$info['addtime'])}&nbsp;&nbsp;关键词： <a href="index.php?arkey={$info['keyword']}">{$info['keyword']}</a>&nbsp;&nbsp;点击：{$info['hits']} 次</span>
            </h2>
            <p>{$info['content']}</p>
        </div>
        <div class="bdsharebuttonbox">
            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
            <a href="#" class="bds_more" data-cmd="more"></a>
        </div>
        <div class="nav-box">
            <h4>你可能感兴趣的文章</h4>
            <ul>
                {if $aLikeArticle}
                    {loop $aLikeArticle $k $v}
                    <li><a href="show.php?id={$v['itemid']}" title="{$v['title']}">{$v['title']}</a></li>
                    {/loop}
                {/if}
            </ul>
        </div>
    </div>
    {template  'right','article'}
</div>
<script>
    window.onload = function() {
        /* 百度分享*/
        window._bd_share_config = {
            "common": {
                "bdSnsKey": {},
                "bdText": "",
                "bdMini": "2",
                "bdMiniList": false,
                "bdPic": "",
                "bdStyle": "0",
                "bdSize": "32"
            },
            "share": {},
            "image": {
                "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"],
                "viewText": "分享到：",
                "viewSize": "32"
            },
            "selectShare": {
                "bdContainerClass": null,
                "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]
            }
        };
        with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    }
</script>

{template  'footer'}

